{% extends "base.html" %}
{% load static %}

{% block sidebar %}
<a href="/projects/new_project/">+ New Project</a>
{% if projects %}
<p><a href="/projects/all/">Your Projects</a></p>
<p>Search Projects:</p>
{% csrf_token %}
<input type="text" id="search" name="search" />

<ul id="search-results">

</ul>
{% else %}
<p></p>
{% endif %}

{% endblock %}

{% block content %}
    
	<table width="100%" bgcolor="#ffffff" cellpadding="5">
		<tr>
			<td>
				<div class="heading20px">
					Your Profile:
				</div>

				{% for field in form %}
				{{field.error}}
				{% endfor %}

				<form action="/accounts/profile/" method="post" enctype="multipart/form-data">{% csrf_token %}
				
					{% if profile.avatar %}
						<p><img src="{% get_static_prefix %}{{profile.avatar}}" alt="thumbnail" />
					{% endif %}

					<p>{{form.avatar}}</p>
					<p>Public: {{form.visible}}</p>
					<p>About you:</p>
					<p>{{form.bio}}</p>

					<input type="submit" value="Update" />

				</form>

			</td>
		</tr>
	</table>

{% endblock %}