#projectupdate {
	/* Setting a common base */
	margin: 0;
	padding: 0;
}

#projectupdate li {
	display: inline-block;
	width: 20%;
	background: #fff;
	text-align: center;
}

#projectupdateheader {
	text-align: right;
	padding-right: 10px;
}