{% if searchentries.count > 0 %}

{% for entry in searchentries %}
	<li><a href="/projects/get/{{project.id}}/entries/get/{{entry.entry_unique}}/">{{entry.entry_description}}</a></li>
{% endfor %}

{% else %}

<li>None to show!</li>

{% endif %}