{% if searchprojects.count > 0 %}

{% for project in searchprojects %}
	<li><a href="/projects/get/{{project.id}}/">{{project.project_description}}</a></li>
{% endfor %}

{% else %}

<li>None to show!</li>

{% endif %}