{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}The Film Edit Database{% endblock %}</title>
					
			<link rel="stylesheet" type="text/css" href="{% static "assets/css/default.css" %}">
			<link rel="stylesheet" type="text/css" href="{% static "assets/css/navbar.css" %}">
			<link rel="stylesheet" type="text/css" href="{% static "assets/themes/smoothness/jquery-ui.css" %}">
			<link rel="stylesheet" type="text/css" href="{% static "assets/css/jquery.timepicker.css" %}">

			<script src="{% static "assets/js/jquery-2.0.3.js" %}"></script>
			<script src="{% static "assets/js/jquery-ui.js" %}"></script>
			<script src="{% static "assets/js/ajax.js" %}"></script>
			<script src="{% static "assets/js/default.js" %}"></script>
			{% block headscript %}{% endblock %}
			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-42489977-1', 'filmeditdb.com');
			  ga('send', 'pageview');

			</script>

	</head>

	<body>
		<div class="header">
			<table width="100%" bgcolor="#448ccb" cellpadding="0">
				<tr>
					<td align="left" style="padding-left:75px; font-size:20px; font-weight:bold;">
						<a href="/"><img src="{% static "assets/img/the_film_edit_db_header.png" %}" ></a>
					</td>
					<td align="right" style="padding-right:75px;">
						{% block header %}
							{% if thisuser %}
								<ul id="nav">
								    <li>
								      <a href="#">Hello, {{thisuser.username}}</a>
								      <ul>
								        <li>
								          <a href="/projects/all/">Your Projects</a>
								        </li>
								        {% if project %}
									        <li>
									          <a href="/projects/get/{{project.id}}/">Current Project</a>
									        </li>
								        {% endif %}
								        <li>
								          <a href="/projects/new_project/">New Project</a>
								        </li>
								        <li>
								          <a href="/lobby/">Lobby</a>
								        </li>
								        <li>
								          <a href="/accounts/profile/">Your Profile</a>
								        </li>
								        <li>
								          <a href="/accounts/logout/">Logout</a>
								        </li>
								      </ul>
								    </li>
								  </ul>
							{% else %}
								<div id="registerlogin">
									<a href="/lobby/">Lobby</a> | <a href="/accounts/register/">Register</a> | <a href="/accounts/login/">Login</a>
								</div>
							{% endif %}
						{% endblock %}
					</td>
				</tr>
			</table>
		</div>

		<div class="header-shadow">&nbsp;</div>

		<div id="page">

			<div id="sidebar" width="100%" style="padding-right:5px;" align="right">
				<table bgcolor="#448ccb" cellpadding="8" width="100%">
					<tr>
						<td align="right">
							{% block sidebar %}
								<a href="/accounts/register/">Register</a>
								<p><a href="/accounts/login/">Log In</a></p>
								<p><a href="/lobby/">Lobby</a></p>
							{% endblock %}
						</td>
					</tr>
				</table>
			</div>

			<div id="content">
				{% block content %}
					This is the content area.
				{% endblock %}
			</div>

		</div>

		<br />
		<table width="100%" align="center">
			<tr>
				<td>
					<span class="small_font"><br><i><a href="http://www.jasonboyce.com/">Site by: Jason Boyce</a></i></span>
				</td>
			</tr>
		</table>
		
	</body>
</html>