{% extends "base.html" %}
{% load static %}

{% block content %}

<table width="100%" bgcolor="#ffffff"><tr><td>
	<div class="heading16px">Your login details are invalid!</div><br>
	
	<p>Click <strong><a href="/accounts/login/">here</a></strong> to try again.</p>
</td></tr></table>
{% endblock %}