{% extends "base.html" %}
{% load static %}

{% block sidebar %}

<a href="/projects/new_project">+ New Project</a>
{% if ifanyprojects %}
<p>Search Projects:</p>
{% csrf_token %}
<input type="text" id="search" name="search" />

<ul id="search-results">

</ul>
{% else %}
<p></p>
{% endif %}

{% endblock %}

{% block content %}
<table width="100%" bgcolor="#ffffff"><tr><td>
	<div class="heading16px">Hi {{full_name}}, you are logged in!</div><br>

  {% if ifanyprojects %}
  <p>Click <strong><a href="/">here</a></strong> to go to your Projects or <a href="/projects/new_project"><strong>here</strong></a> to start a new one.</p>
  {% else %}
  <p>Click <a href="/projects/new_project"><strong>here</strong></a> to start a new Project.</p>
  {% endif %}

	<p>Wrong account? Click <strong><a href="/accounts/logout/">here</a></strong> to logout.</p>

	<p>Click <strong><a href="/accounts/profile/">here</a></strong> to edit your profile.</p>
</td></tr></table>
{% endblock %}