{% extends "base.html" %}
{% load static %}

{% block content %}

	<div class="heading16px">Log In:</div><br>
	
	{% if form.errors %}
		<P class="error">Sorry, that's not a valid username or password.</p>
	{% endif %}
<table width="100%" bgcolor="#ffffff" ><tr><td>
	<form action="/accounts/auth/" method="post">{% csrf_token %}
		<label for="username">User name:</label>
		<input type="text" name="username" value="" id="username">
		<label for="password">Password:</label>
		<input type="password" name="password" value="" id="password">

		<input type="submit" value="Login" />

	</form>
</td></tr></table>

{% endblock %}