{% extends "base.html" %}
{% load static %}

{% block content %}
<table width="100%" bgcolor="#ffffff"><tr><td>
  <div class="heading16px">You have logged out!</div><br>
  
  <p>Click <strong><a href="/accounts/login/">here</a></strong> to log in again.</p>
</td></tr></table>
{% endblock %}