{% extends "base.html" %}
{% load static %}

{% block content %}
<table width="100%" bgcolor="#ffffff"><tr><td>

	<div class="heading16px">You have registered!</div><br>
	
	<p>Please click <strong><a href="/accounts/login/">here</a></strong> to login.</p>
</td></tr></table>
{% endblock %}