{% extends "base.html" %}
{% load static %}

{% block content %}
	
	<div class="heading16px">Register:</div><br>
	
	<form action="/accounts/register/" method="post">{% csrf_token%}
		<table width="100%" cellpadding="5" bgcolor="#ffffff">
			<tr>
				<td align="right" style="padding-right:5px;" width="15%">
					<label for="username">Username:</label>
				</td>
				<td width="15%">
					{{form.username}}
				</td>
				<td align="right" style="padding-right:5px;" width="15%">
					<label for="email">Email Address:</label>
				</td>
				<td>
					{{form.email}}
				</td>
			</tr>
			<tr>
				<td align="right" style="padding-right:5px;">
					<label for="first_name">First Name:</label>
				</td>
				<td>
					{{form.first_name}}
				</td>
				<td align="right" style="padding-right:5px;">
					<label for="last_name">Last Name:</label>
				</td>
				<td>
					{{form.last_name}}
				</td>
			</tr>
			<tr>
				<td align="right" style="padding-right:5px;">
					<label for="password1">Password:</label>
				</td>
				<td>
					{{form.password1}}
				</td>
				<td align="right" style="padding-right:5px;">
					<label for="password2">and again:</label>
				</td>
				<td>
					{{form.password2}}
				</td>
			</tr>
			<tr>
				<td colspan="4"><input type="submit" value="Register"></td>
			</tr>
		</table>

	</form>

{% endblock %}