{% extends "base.html" %}
{% load static %}

{% block sidebar %}
	
	<script>
		function process()
		{
		var url="/projects/get/{{project.id}}/assets/get/" + document.getElementById("assetid").value;
		location.href=url;
		return false;
		}
	</script>
	<script>
		$(function(){

			$('#search-assets').keyup(function() {

				$.ajax({
					type: "POST",
					url: "/projects/get/{{project.id}}/assets/search/",
					data: {
						'search_text' : $('#search-assets').val(),
						'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
					},
					success: searchSuccess,
					dataType: 'html'
				});
			});
		});

		function searchSuccess(data, textStatus, jqXHR)
		{
			$('#search-assets-results').html(data);
		}
	</script>

	{% if permission %}
		{% if project %}
			<a href="/projects/get/{{project.id}}/new_asset/">+ Add New Asset</a>
			{% if assets %}
				<p><a href="/projects/get/{{project.id}}/assets/">All Assets</a></p>
			{% endif %}
			<p>
			<a href="/projects/get/{{project.id}}/"><img src="{% static "assets/img/arrow_left.png" %}" width="40"></a>
			{% if assets %}
				<a href="/projects/get/{{project.id}}/assets/get/1/"><img src="{% static "assets/img/arrow_right.png" %}" width="40"></a></p>
				<p><a href="/projects/get/{{project.id}}/sort/">Sort Assets</a></p>
				<p><a href="/projects/get/{{project.id}}/export/">Export Assets</a></p>
				<p>Go To Asset:</p>
				<form onSubmit="return process();">
				# <input type="text" id="assetid" name="assetid" size="5"/> <input type="submit" name="submit" value="Go">
				</form>
			{% endif %}
		{% endif %}
		{% if assets %}
			<p>Search Assets:</p>
			{% csrf_token %}
			<input type="text" id="search-assets" name="search-assets" />
			<ul id="search-assets-results">
			</ul>
		{% endif %}
	{% else %}
		<a href="/projects/all/">Your Projects</a>
	{% endif %}

{% endblock %}

{% block content %}

	{% if project %}
		{% if permission %}
			<table width="100%" cellpadding="5" bgcolor="#ffffff">
				<tr>
					<td>
						<div class="heading20px">Access:</div>
					</td>
				</tr>
				<tr>
					<td style="padding-left:25px;"><a href="/accounts/profile/{{project.created_by.id}}/">{{project.created_by.username}}</a></td>
				</tr>
				{% for person in accesslist.access_list.all %}
					<tr>
						<td style="padding-left:50px;">
							<a href="/accounts/profile/{{person.id}}/">{{person.username}}</a> 
							<a href="/projects/get/{{project.id}}/access/remove/{{person.id}}/">
								{% if project.created_by = thisuser %}(Remove){% endif %}
							</a>
						</td>
					</tr>
				{% endfor %}
				<form action="/projects/get/{{project.id}}/access/" method="post">{% csrf_token %}
					<tr>
						<td><input type="text" name="accessupdate" id="accessupdate" placeholder="Add Username" /> 
						<input type="submit" name="submit" value="Update Access"></td>
					</tr>
				</form>
			</table>
		{% else %}
			<table width="100%" cellpadding="5" bgcolor="#ffffff">
				<tr><td>You do not have access to this project.</td></tr>
			</table>
		{% endif %}
	{% else %}
		<table width="100%" cellpadding="5" bgcolor="#ffffff">
			<tr><td>You do not have access to this project.</td></tr>
		</table>
	{% endif %}

{% endblock %}