{% extends "base.html" %}
{% load static %}

{% block sidebar %}
<script>
function process()
{
var url="/projects/get/{{accesspermission.project.id}}/entries/get/" + document.getElementById("entryid").value;
location.href=url;
return false;
}
</script>
<script>
$(function(){

	$('#search-entries').keyup(function() {

		$.ajax({
			type: "POST",
			url: "/projects/get/{{accesspermission.project.id}}/entries/search/",
			data: {
				'search_text' : $('#search-entries').val(),
				'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
			},
			success: searchSuccess,
			dataType: 'html'
		});
	});
});

function searchSuccess(data, textStatus, jqXHR)
{
	$('#search-entries-results').html(data);
}
</script>

{% if accesspermission %}
<a href="/projects/new_entry/{{accesspermission.project.id}}">+ Add New Entry</a>
{% if anyentries %}
<p><a href="/projects/get/{{accesspermission.project.id}}/entries/">All Entries</a></p>
{% endif %}<p>
{% if lastentry %}
<a href="/projects/get/{{accesspermission.project.id}}/entries/get/{{lastentry}}"><img src="{% static "assets/img/arrow_left.png" %}" width="40"></a>
{% else %}
<a href="/projects/get/{{accesspermission.project.id}}/"><img src="{% static "assets/img/arrow_left.png" %}" width="40"></a>
{% endif %}
{% if firstentry %}
<a href="/projects/get/{{accesspermission.project.id}}/entries/get/1"><img src="{% static "assets/img/arrow_right.png" %}" width="40"></a></p>
<p><a href="/projects/get/{{project.id}}/sort">Sort Entries</a></p>
<p><a href="/projects/get/{{project.id}}/export">Export Entries</a></p>
<p>Go To Entry:</h4></p>
<form onSubmit="return process();">
# <input type="text" id="entryid" name="entryid" size="5"/><input type="submit" name="submit" value="Go">
</form>
{% else %}</p>
{% endif %}
{% endif %}
{% if anyentries %}
<p>Search Entries:</p>
{% csrf_token %}
<input type="text" id="search-entries" name="search-entries" />

<ul id="search-entries-results">

</ul>
{% endif %}

{% endblock %}

{% block content %}

{% if accesspermission %}
<div class="heading16px">Project Collaborators:</div>
<ul>
<li><a href="/accounts/profile/{{accesspermission.project.created_by.id}}">{{accesspermission.project.created_by.username}}</a></li>
{% for user in accesspermission.access_list.all %}
<li><a href="/accounts/profile/{{user.id}}/">{{user.username}}</a></li>
{% endfor %}
</ul>
<form action="/projects/get/{{accesspermission.project.id}}/access/" method="post">{% csrf_token %}
<table width="100%" cellpadding="5">
	<tr>
		<td width="25%" align="right" style="padding-right:5px;">
			<label for "accessupdate">Add a user:</label>
		</td>
		<td>{{form.accessupdate}} {{form.accessupdate.errors}}</td>
	</tr>
	<tr>
		<td align="right" style="padding-right:5px;">
			<label for "removeaccess">Remove a user:</label>
		</td>
		<td>{{form.accessremove}} {{form.accessremove.errors}}</td>
	<tr>
		<td>
			<input type="submit" name="submit" value="Update">
		</td>
	</tr>
</table>
</form>
{% else %}
<p>This project is private. Please contact the project owner for an invitation.</p>
{% endif %}

{% endblock %}