{% if searchassets.count > 0 %}

{% for asset in searchassets %}
	<li><a href="/projects/get/{{project.id}}/assets/get/{{asset.unique_id}}/">{{asset.description}}</a></li>
{% endfor %}

{% else %}

<li>None to show!</li>

{% endif %}