{% extends "base.html" %}
{% load static %}

{% block sidebar %}

	<script>
		function process()
		{
		var url="/projects/get/{{project.id}}/assets/get/" + document.getElementById("assetid").value;
		location.href=url;
		return false;
		}
	</script>
	<script>
		$(function(){

			$('#search-assets').keyup(function() {

				$.ajax({
					type: "POST",
					url: "/projects/get/{{project.id}}/assets/search/",
					data: {
						'search_text' : $('#search-assets').val(),
						'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
					},
					success: searchSuccess,
					dataType: 'html'
				});
			});
		});

		function searchSuccess(data, textStatus, jqXHR)
		{
			$('#search-assets-results').html(data);
		}
	</script>

	{% if permission %}
		<a href="/projects/get/{{project.id}}/new_asset/">+ Add New Asset</a>
		{% if assets %}
			<p><a href="/projects/get/{{project.id}}/assets/">All Assets</a></p>
			<p><a href="/projects/get/{{project.id}}/"><img src="{% static "assets/img/arrow_left.png" %}" width="40"></a>
			<a href="/projects/get/{{project.id}}/assets/get/1/"><img src="{% static "assets/img/arrow_right.png" %}" width="40"></a></p>
			<p><a href="/projects/get/{{project.id}}/sort/">Sort Assets</a></p>
			<p><a href="/projects/get/{{project.id}}/export/">Export Assets</a></p>
			<p>Go To Asset:</h4></p>
			<form onSubmit="return process();">
			# <input type="text" id="assetid" name="assetid" size="5"/> <input type="submit" name="submit" value="Go">
			</form>
			<p>Search Assets:</p>
			{% csrf_token %}
			<input type="text" id="search-assets" name="search-assets" />
			<ul id="search-assets-results">
			</ul>
		{% endif %}
	{% else %}
		<a href="/projects/all/">Your Projects</a>
	{% endif %}

{% endblock %}

{% block content %}

	{% if assets %}
		{% if permission %}
			<table width="100%" border="0" cellpadding="5" bgcolor="#ffffff">
				<tr>
					<td colspan="2">
						<div class="heading16px">Assets: </div>
					</td>
				</tr>
				{% for asset in assets %}
					<tr>
						<td width="25%" valign="top">
							<a href="/projects/get/{{project.id}}/assets/get/{{asset.unique_id}}/">{{asset.unique_id}}{{asset.asset_type}}</a>
						</td>
						<td>
							<a href="/projects/get/{{project.id}}/assets/get/{{asset.unique_id}}/">{{asset.description|truncatechars:"55"}}</a>
						</td>
					</tr>
				{% endfor %}
			</table>
			<br />
			<div class="pagination" align="right">
				<span class="step-links">
					{% if assets.has_previous %}
						<a href="?page={{ assets.previous_page_number }}">previous</a>
					{% endif %}

					<span class="current">
						Page {{ assets.number }} of {{ assets.paginator.num_pages }}.
					</span>

					{% if assets.has_next %}
						<a href="?page={{ assets.next_page_number }}">next</a>
					{% endif %}
				</span>
			</div>
		{% else %}
			<table width="100%" cellpadding="5" bgcolor="#ffffff">
				<tr><td>You do not have access to this project.</td></tr>
			</table>
		{% endif %}
	{% else %}
		<table width="100%" cellpadding="5" bgcolor="#ffffff">
			<tr><td>This project does not have any assets.</td></tr>
		</table>
	{% endif %}

{% endblock %}