{% extends "base.html" %}
{% load static %}

{% block headscript %}
	<script src="{% static "assets/js/timecode.js" %}"></script>
	<script src="{% static "assets/js/enable.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/asset_layout.css" %}">
	<script src="{% static "assets/js/asset_layout.js" %}"></script>
{% endblock %}

{% block sidebar %}

	<script>
		function process()
		{
		var url="/projects/get/{{project.id}}/assets/get/" + document.getElementById("assetid").value;
		location.href=url;
		return false;
		}
	</script>
	<script>
		$(function(){

			$('#search-assets').keyup(function() {

				$.ajax({
					type: "POST",
					url: "/projects/get/{{project.id}}/assets/search/",
					data: {
						'search_text' : $('#search-assets').val(),
						'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
					},
					success: searchSuccess,
					dataType: 'html'
				});
			});
		});

		function searchSuccess(data, textStatus, jqXHR)
		{
			$('#search-assets-results').html(data);
		}
	</script>

	{% if permission %}
		<a href="/projects/get/{{project.id}}/new_asset/">+ Add New Asset</a>
		<p><a href="/projects/get/{{project.id}}/assets/">All Assets</a></p>
		<p>
		{% if prev_asset %}
			<a href="/projects/get/{{project.id}}/assets/get/{{asset.unique_id|add:"-1"}}">
				<img src="{% static "assets/img/arrow_left.png" %}" width="40">
			</a>
		{% else %}
			<a href="/projects/get/{{project.id}}"><img src="{% static "assets/img/arrow_left.png" %}" width="40"></a>
		{% endif %}
		{% if next_asset %}
			<a href="/projects/get/{{project.id}}/assets/get/{{asset.unique_id|add:"1"}}/">
				<img src="{% static "assets/img/arrow_right.png" %}" width="40">
			</a>
		{% else %}
			<a href="/projects/get/{{project.id}}/"><img src="{% static "assets/img/arrow_right.png" %}" width="40"></a>
		{% endif %}
		</p>
		<p><a href="/projects/get/{{project.id}}/sort/">Sort Assets</a></p>
		<p><a href="/projects/get/{{project.id}}/export/">Export Assets</a></p>
		<p>Go To Asset:</p>
		<form onSubmit="return process();">
		# <input type="text" id="assetid" name="assetid" size="5"/> <input type="submit" name="submit" value="Go">
		</form>
		<p>Search Assets:</p>
		{% csrf_token %}
		<input type="text" id="search-assets" name="search-assets" />
		<ul id="search-assets-results"></ul>
	{% else %}
		<a href="/projects/all/">Your Projects</a>
	{% endif %}

{% endblock %}

{% block content %}

	{% if asset %}
		{% if permission %}
		<div id="assetupdateheader" style="padding-right: 20ox;" align="right">
			<ul id="assetupdate">
				<li><strong><a href="/projects/get/{{project.id}}/assets/get/{{asset.unique_id}}/update">Update Asset</a></strong></li>
			</ul>
		</div>
		<table width="100%" bgcolor="#ffffff" cellpadding="4">
			<tr>
				<td width="25%" rowspan="7" valign="top" align="center">
						{% if asset.thumbnail %}<img src="{% get_static_prefix %}{{asset.thumbnail}}" />{% endif %}
		    	</td>
				<td width="15%" align="right">ID #:</td>
				<td width="60%">{{asset.unique_id}}{{asset.asset_type}}</td>
			</tr>
			<tr>
				<td align="right" valign="top">Description:</td>
				<td valign="top">{{asset.description}}</td>
			</tr>
			<tr>
				<td valign="top"><div align="right">Used in Film:</div></td>
				<td valign="top">{% if asset.used_in_film %}Yes{% else %}No{% endif %}</td>
			</tr>
			<tr>
				<td valign="top"><div align="right">Master Status:</div></td>
				<td valign="top">{{asset.master_status}}</td>
			</tr>
			<tr>
				<td valign="top"><div align="right">Location:</div></td>
				<td valign="top">{{asset.location}}</td>
			</tr>
			<tr>
				<td valign="top"><div align="right">Date:</div></td>
				<td valign="top">{{asset.date_produced|date:'m/d/Y'}}</td>
			</tr>
			<tr>
				<td valign="top"><div align="right">File Path:</div></td>
				<td valign="top">{{asset.file_location}}</td>
			</tr>
		</table>

		<br />

		<div id="assetnavigation" align="center">
			<ul id="assetlayout">
				<li><strong><a href="#" onclick="revealDetails();">Details</a></strong></li>
				<li><strong><a href="#" onclick="revealInstances();">Instances</a></strong></li>
				<li><strong><a href="#" onclick="revealLicensing();">Licensing</a></strong></li>
				<li><strong><a href="#" onclick="revealNotes();">Notes</a></strong></li>
			</ul>
		</div>

		<div class="details" id="details">
			{% if asset.footage %}
				<table width="100%" cellpadding="4" bgcolor="ffffff">
					<tr>
						<td colspan="4">
							<div class="heading16px">Footage:</div>
						</td>
					</tr>
					<tr>
						<td>Format:</td>
						<td colspan="3">
							{{asset.footage_format}}
						</td>
					</tr>
					<tr>
						<td width="10%">Region:</td>
						<td width="20%">{{asset.footage_region}}</td>
						<td width="25%">Type: {{asset.footage_type}}</td>
						<td>{{asset.footage_fps}} fps</td>
					</tr>
					<tr>
						<td>Film URL:</td>
						<td colspan="3">
							{{asset.footage_url}}
						</td>
					</tr>
					<tr>
						<td colspan="4">
							{% if asset.footage_blackandwhite %}Black &amp; White {% endif %}
							{% if asset.footage_color %}Color {% endif %}
							{% if asset.footage_sepia %}Sepia {% endif %}
						</td>
					</tr>
				</table>
				<br />
			{% endif %}

			{% if asset.stills %}
				<table width="100%" cellpadding="4" bgcolor="#ffffff">
					<tr>
						<td colspan="2">
							<div class="heading16px">Stills:</div>
						</td>
					</tr>
					<tr>
						<td width="13%">Photo Credit:</td>
						<td><strong>{{asset.stills_credit}}</strong></td>
					</tr>
					<tr>
						<td>Photo URL:</td>
						<td>{{asset.stills_url}}</td>
					</tr>
					<tr>
						<td colspan="2">
							{% if asset.stills_blackandwhite %}Black &amp; White {% endif %}
							{% if asset.stills_color %}Color {% endif %}
							{% if asset.stills_sepia %}Sepia {% endif %}
						</td>
					</tr>
				</table>
				<br />
			{% endif %}

			{% if asset.music %}
				<table width="100%" cellpadding="4" bgcolor="#ffffff">
					<tr>
						<td colspan="2">
							<div class="heading16px">Music:</div>
						</td>
					</tr>
					<tr>
						<td width="13%">Format:</td>
						<td>{{asset.music_format}}</td>
					</tr>
					<tr>
						<td>Artist Credit:</td>
						<td>{{asset.music_credit}}</td>
					</tr>
					<tr>
						<td>Song URL:</td>
						<td>{{asset.music_url}}</td>
					</tr>
				</table>
			{% endif %}
		</div>

		<div class="instances" id="instances" style="display: none">
			<form action="/projects/get/{{project.id}}/assets/get/{{asset.unique_id}}/save_timecode/" method="post">{% csrf_token %}
				{% if timecodes.count > 0 %}
					<table width="100%" cellpadding="4" bgcolor="#ffffff">
						<tr>
							<td colspan="4">
								<div class="heading16px">Instances:</div>
							</td>
						</tr>
						{% for tc in timecodes %}
							{% if forloop.last %}
								<tr>
									<td colspan="3">Description: {{tc.description}}</td>
									<td align="right" style="padding-right:50px;">
										<a href="/projects/get/{{project.id}}/assets/get/{{asset.unique_id}}/timecodes/{{tc.tc_unique}}/edit/">Edit</a>
									</td>
								</tr>
								<tr>
									<td width="25%">Project Timecode:</td>
									<td width="25%">In: {{tc.film_tc_in}}</td>
									<td width="25%">Out: {{tc.film_tc_out}}</td>
									<td width="25%">Duration: {{tc.film_tc_duration}} </td>
								</tr>
								<tr>
									<td>Asset Timecode:</td>
									<td>In: {{tc.src_tc_in}}</td>
									<td>Out: {{tc.src_tc_out}}</td>
									<td>Duration: {{tc.src_tc_duration}} </td>
								</tr>
								<tr>
									<td>Asset Windowdub:</td>
									<td>In: {{tc.src_wd_in}}</td>
									<td>Out: {{tc.src_wd_out}}</td>
									<td>Duration: {{tc.src_wd_duration}} </td>
								</tr>
							{% else %}
								<tr>
									<td colspan="3">Description: {{tc.description}}</td>
									<td align="right" style="padding-right:50px;">
										<a href="/projects/get/{{project.id}}/assets/get/{{asset.unique_id}}/timecodes/{{tc.tc_unique}}/edit/">Edit</a>
									</td>
								</tr>
								<tr>
									<td width="25%">Project Timecode:</td>
									<td width="25%">In: {{tc.film_tc_in}}</td>
									<td width="25%">Out: {{tc.film_tc_out}}</td>
									<td width="25%">Duration: {{tc.film_tc_duration}} </td>
								</tr>
								<tr>
									<td>Asset Timecode:</td>
									<td>In: {{tc.src_tc_in}}</td>
									<td>Out: {{tc.src_tc_out}}</td>
									<td>Duration: {{tc.src_tc_duration}} </td>
								</tr>
								<tr>
									<td>Asset Windowdub:</td>
									<td>In: {{tc.src_wd_in}}</td>
									<td>Out: {{tc.src_wd_out}}</td>
									<td>Duration: {{tc.src_wd_duration}} </td>
								</tr>
								<tr><td colspan="4">&nbsp;</td></tr>
							{% endif %}
						{% endfor %}
					</table>
				
					<br />

					<table width="100%" cellpadding="4" bgcolor="#ffffff">
						<tr>
					 		<td colspan="2" align="center">
					 			Total Timecode Duration: {{ timecode_show }}
					 			<input type="hidden" name="timecode_total" id="timecode_total" value="{{timecode_show}}" />
					 		</td>
					 		<td colspan="2" align="center">
					 			Total Windowdub Duration: {{ windowdub_show }}
					 			<input type="hidden" name="windowdub_total" id="windowdub_total" value="{{windowdub_show}}" />
					 		</td>
					 	</tr>
						<tr>
							<td colspan="4" align="center">
								COST: $<input type="text" readonly value="{{asset.cost}}" name="asset_cost" id="asset_cost" size="5" /> 
								PER: <input type="text" readonly value="{{asset.cost_model}}" name="cost_rate" id="cost_rate" size="10" /> 
								* <select name="tc_or_wd" id="tc_or_wd" onchange="calculateCost()">
									<option value="">TC or WD</option>
									<option value="{{timecode_duration}}">Timecode</option>
									<option value="{{windowdub_duration}}">Windowdub</option>
								</select> 
								TOTAL: $<input type="text" readonly value="{{asset.total_cost}}" name="total_cost" id="total_cost" size="10" />
								<input type="submit" name="Save Update" id="Save_Update" value="Save" />
							</td>
					 	</tr>
					</table>
				</form>

				<br />

			{% endif %}

			<form action="/projects/get/{{project.id}}/assets/get/{{asset.unique_id}}/timecodes/" method="post">{% csrf_token %}
				<table width="100%" cellpadding="4" bgcolor="#ffffff">
					<tr>
						<td><strong>New Instance:</strong></td>
						<td colspan="3">Description: <input type="text" id="description" name="description" size="50"/></td>
					</tr>
					<tr>
						<td>Project Timecode:</td>
						<td>In: <input type="text" id="film_tc_in" name="film_tc_in" size="10" placeholder="HH:MM:SS" /></td>
						<td>Out: <input type="text" id="film_tc_out" name="film_tc_out" size="10" onchange="film_tc_Duration();" placeholder="HH:MM:SS" /></td>
						<td>Duration: <input type="text" id="film_tc_duration" name="film_tc_duration" size="10" readonly /></td>
					</tr>
					<tr>
						<td>Asset Timecode:</td>
						<td>In: <input type="text" id="src_tc_in" name="src_tc_in" size="10" placeholder="HH:MM:SS" /></td>
						<td>Out: <input type="text" id="src_tc_out" name="src_tc_out" size="10" onchange="src_tc_Duration();" placeholder="HH:MM:SS" /></td>
						<td>Duration: <input type="text" id="src_tc_duration" name="src_tc_duration" size="10" readonly /></td>
					</tr>
					<tr>
						<td>Asset Windowdub:</td>
						<td>In: <input type="text" id="src_wd_in" name="src_wd_in" size="10" placeholder="HH:MM:SS" /></td>
						<td>Out: <input type="text" id="src_wd_out" name="src_wd_out" size="10" onchange="src_wd_Duration();" placeholder="HH:MM:SS" /></td>
						<td>Duration: <input type="text" id="src_wd_duration" name="src_wd_duration" size="10" readonly /></td>
					</tr>
					<tr>
						<td align="right" colspan="4" style="padding-right:25px;">
							<input type="submit" name="Add New Instance" id="Add_New_Instance" value="Add New Instance" />
						</td>
					</tr>
				</table>
			</form>
		</div>

		<div class="licensing" id="licensing" style="display: none">
			<table width="100%" cellpadding="4" bgcolor="#ffffff">
				<tr>
					<td colspan="4">
						<div class="heading16px">Licensing:</div>
					</td>
				</tr>
				<tr>
					<td valign="top">License:</td>
					<td valign="top">{% if asset.license_obtained %}Yes{% else %}No{% endif %}</td>
					<td valign="top">Type:</td>
					<td valign="top">{{asset.license_type}}</td>
				</tr>
				<tr>
					<td valign="top">Source:</td>
					<td valign="top">{{asset.source}}</td>
					<td valign="top">Reference ID:</td>
					<td valign="top">{{asset.source_id}}</td>
				</tr>
					<td valign="top">Contact:</td>
					<td valign="top">{{asset.source_contact}}</td>
					<td valign="top">Email:</td>
					<td valign="top">{{asset.source_email}}</td>
				</tr>
				<tr>
					<td width="17%" valign="top">Phone:</td>
					<td width="32%" valign="top">{{asset.source_phone}}</td>
					<td width="14%" valign="top">Fax:</td>
					<td width="37%" valign="top">{{asset.source_fax}}</td>
				</tr>
				<tr>
					<td valign="top">Address:</td>
					<td colspan="3" valign="top">{{asset.source_address}}</td>
				</tr>
				<tr>
					<td valign="top">Credit Language:</td>
					<td colspan="3" valign="top">{{asset.credit_language}}</td>
				</tr>
				<tr>
					<td valign="top">Timecode Total:</td>
					<td valign="top">{{ timecode_show }}</td>
					<td colspan="2" valign="top">Windowdub Total: {{ windowdub_show }}</td>
				</tr>
					<td valign="top">Cost: ${{asset.cost}}</td>
					<td valign="top">Per: {{asset.cost_model}}</td>
					<td valign="top">Total Cost:</td>
					<td valign="top">${{ asset.total_cost }}</td>
				</tr>
			</table>
		</div>

		<div class="notes" id="notes" style="display: none">
			<table width="100%" align="center" bgcolor="#ffffff" cellpadding="4">
				<tr>
					<td>
						<div class="heading16px">Notes:</div>
					</td>
				</tr>
				<tr>
					<td>
						{{asset.notes}}
					</td>
				</tr>
			</table>
		</div>
		{% else %}
			<table width="100%" cellpadding="5" bgcolor="#ffffff">
				<tr><td>You do not have access to this project.</td></tr>
			</table>
		{% endif %}
	{% else %}
		<table width="100%" cellpadding="5" bgcolor="#ffffff">
			<tr><td>You do not have access to this project.</td></tr>
		</table>
	{% endif %}

{% endblock %}