{% extends "base.html" %}
{% load static %}

{% block sidebar %}
<script>
function process()
{
var url="/projects/get/{{project.id}}/entries/get/" + document.getElementById("entryid").value;
location.href=url;
return false;
}
</script>
<script>
$(function(){

	$('#search-entries').keyup(function() {

		$.ajax({
			type: "POST",
			url: "/projects/get/{{project.id}}/entries/search/",
			data: {
				'search_text' : $('#search-entries').val(),
				'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
			},
			success: searchSuccess,
			dataType: 'html'
		});
	});
});

function searchSuccess(data, textStatus, jqXHR)
{
	$('#search-entries-results').html(data);
}
</script>
<a href="/projects/new_entry/{{project.id}}">+ Add New Entry</a>
{% if entries %}
<p><a href="/projects/get/{{project.id}}/entries/">All Entries</a></p>
<p><a href="/projects/get/{{project.id}}"><img src="{% static "assets/img/arrow_left.png" %}" width="40"></a>
<a href="/projects/get/{{project.id}}/entries/get/1"><img src="{% static "assets/img/arrow_right.png" %}" width="40"></a></p>
<p><a href="/projects/get/{{project.id}}/sort">Sort Entries</a></p>
<p><a href="/projects/get/{{project.id}}/export">Export Entries</a></p>
<p>Go To Entry:</h4></p>
<form onSubmit="return process();">
# <input type="text" id="entryid" name="entryid" size="5"/><input type="submit" name="submit" value="Go">
</form>
{% endif %}
<p>Search Entries:</p>
{% csrf_token %}
<input type="text" id="search-entries" name="search-entries" />

<ul id="search-entries-results">

</ul>

{% endblock %}

{% block content %}

{% if permission %}
<table width="100%" border="0" cellpadding="5" bgcolor="#ffffff">
	<tr>
		<td colspan="2">
			<div class="heading16px"> Entries: </div>
		</td>
	</tr>
	{% for entry in entries %}
	<tr>
		<td width="25%" valign="top">
			<a href="/projects/get/{{project.id}}/entries/get/{{entry.entry_unique}}">{{entry.entry_unique}}{{entry.entry_type}}</a>
		</td>
		<td>
			<a href="/projects/get/{{project.id}}/entries/get/{{entry.entry_unique}}">{{entry.entry_description|truncatechars:"55"}}</a>
		</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<p>This project is private. Please contact the project owner for an invitation.</p>
{% endif %}

{% endblock %}