{% extends "base.html" %}
{% load static %}

{% block sidebar %}
<script>
function process()
{
var url="/projects/get/{{project.id}}/entries/get/" + document.getElementById("entryid").value;
location.href=url;
return false;
}
</script>
<script>
$(function(){

	$('#search-entries').keyup(function() {

		$.ajax({
			type: "POST",
			url: "/projects/get/{{project.id}}/entries/search/",
			data: {
				'search_text' : $('#search-entries').val(),
				'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
			},
			success: searchSuccess,
			dataType: 'html'
		});
	});
});

function searchSuccess(data, textStatus, jqXHR)
{
	$('#search-entries-results').html(data);
}
</script>


{% if permission %}
<a href="/projects/new_entry/{{project.id}}">+ Add New Entry</a>
{% if entry.count < 1 %}
<p><a href="/projects/get/{{project.id}}/entries/">All Entries</a></p>
{% endif %}
<p>
{% if prev_entry %}
<a href="/projects/get/{{project.id}}/entries/get/{{entry.entry_unique|add:"-1"}}"><img src="{% static "assets/img/arrow_left.png" %}" width="40"></a>
{% else %}
<a href="/projects/get/{{project.id}}"><img src="{% static "assets/img/arrow_left.png" %}" width="40"></a>
{% endif %}
{% if next_entry %}
<a href="/projects/get/{{project.id}}/entries/get/{{entry.entry_unique|add:"1"}}"><img src="{% static "assets/img/arrow_right.png" %}" width="40"></a>
{% else %}
<a href="/projects/get/{{project.id}}"><img src="{% static "assets/img/arrow_right.png" %}" width="40"></a>
{% endif %}
</p>
<p><a href="/projects/get/{{project.id}}/sort">Sort Entries</a></p>
<p><a href="/projects/get/{{project.id}}/export">Export Entries</a></p>
<p>Go To Entry:</h4></p>
<form onSubmit="return process();">
# <input type="text" id="entryid" name="entryid" size="5"/><input type="submit" name="submit" value="Go">
</form>
{% endif %}
<p>Search Entries:</p>
{% csrf_token %}
<input type="text" id="search-entries" name="search-entries" />

<ul id="search-entries-results">

</ul>

{% endblock %}

{% block content %}

{% if permission %}
{% if entry %}
<table width="100%" bgcolor="#ffffff" cellpadding="5">
	<tr>
		<td colspan="3">
			<strong><a href="/projects/get/{{project.id}}/entries/get/{{entry.entry_unique}}/update">Update Entry</a></strong>
		</td>
	</tr>
	<tr>
		<td width="25%" rowspan="7" valign="top">
			<div align="center">
				{% if entry.entry_thumbnail %}<img src="{% get_static_prefix %}{{entry.get_entry_thumbnail}}" />{% endif %}
			</div>
    	</td>
		<td width="15%">&nbsp;</td>
		<td colspan="2">ID #: <strong>{{entry.entry_unique}}{{entry.entry_type}}</strong></td>
	</tr>
	<tr>
		<td align="right" valign="top"><br>Description:</td>
		<td colspan="2" valign="top"><br><strong>{{entry.entry_description}}</strong></td>
	</tr>
	<tr>
		<td><div align="right"><br>Used in Film: </div></td>
		<td colspan="2" valign="bottom"><strong>{% if entry.used_in_film %}Yes{% else %}No{% endif %}</strong></td>
	</tr>
	<tr>
		<td><div align="right"><br>Master Status: </div></td>
		<td colspan="2" valign="bottom">
			<strong>{{entry.master_status}}</strong>
		</td>
	</tr>
	<tr>
		<td><div align="right"><br>Location: </div></td>
		<td colspan="2" valign="bottom"><strong>{{entry.location}}</strong></td>
	</tr>
	<tr>
		<td><div align="right"><br>Date Produced: </div></td>
		<td colspan="2" valign="bottom"><strong>{{entry.date_produced|date:'m/d/Y'}}</strong></td>
	</tr>
	<tr>
		<td><div align="right"><br>File Location: </div></td>
		<td colspan="2" valign="bottom"><strong>{{entry.file_location}}</strong></td>
	</tr>
</table>

{% if entry.footage %}
<br>
<table width="100%" cellpadding="5" bgcolor="C5EAFF">
	<tr>
		<td colspan="3" style="padding-left:10px;">
			<div class="heading16px">Footage:</div>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			Format: <strong>{{entry.footage_format}}</strong>
		</td>
	</tr>
	<tr>
		<td width="25%">Region: <strong>{{entry.footage_region}}</strong></td>
		<td width="15%">Type: <strong>{{entry.footage_type}}</strong></td>
		<td><strong>{{entry.footage_fps}}</strong> fps</td>
	</tr>
	<tr>
		<td colspan="3">
			Film URL: <strong>{{entry.footage_url}}</strong>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			{% if entry.footage_blackandwhite %}<strong>Black &amp; White </strong>{% endif %}
			{% if entry.footage_color %}<strong>Color </strong>{% endif %}
			{% if entry.footage_color %}<strong>Sepia </strong>{% endif %}
		</td>
	</tr>
</table>
{% endif %}

{% if entry.stills %}
<br>
<table width="100%" cellpadding="5" bgcolor="#88E195">
	<tr>
		<td style="padding-left:10px;">
			<div class="heading16px">Stills:</div>
		</td>
	</tr>
	<tr>
		<td>
			Photo Credit: <strong>{{entry.stills_credit}}</strong>
		</td>
	</tr>
	<tr>
		<td>
			Photo URL: <strong>{{entry.stills_url}}</strong>
		</td>
	</tr>
	<tr>
		<td>
			{% if entry.stills_blackandwhite %}<strong>Black &amp; White </strong>{% endif %}
			{% if entry.stills_color %}<strong>Color </strong>{% endif %}
			{% if entry.stills_sepia %}<strong>Sepia </strong>{% endif %}
		</td>
	</tr>
</table>
{% endif %}

{% if entry.music %}
<br>
<table width="100%" cellpadding="5" bgcolor="#F3AD72">
	<tr>
		<td style="padding-left:10px;">
			<div class="heading16px">Music:</div>
		</td>
	</tr>
	<tr>
		<td>Format: <strong>{{entry.music_format}}</strong></td>
	</tr>
	<tr>
		<td>Artist Credit: <strong>{{entry.music_credit}}</strong></td>
	</tr>
	<tr>
		<td>Song URL: <strong>{{entry.music_url}}</td>
	</tr>
</table>
{% endif %}

<br>
<table width="100%" cellpadding="5" bgcolor="#daa36a">
	<tr>
		<td colspan="4" style="padding-left:10px;">
			<div class="heading16px">Usage:</div>
		</td>
	</tr>
 	{% if timecodes.count > 0 %}
	{% for tc in timecodes %}
	<tr>
		<td>Description:</td>
		<td colspan="2">{{tc.description}}</td>
		<td><a href="/projects/get/{{project.id}}/entries/get/{{entry.id}}/timecodes/{{tc.id}}/edit/">Edit</a></td>
	</tr>
	<tr>
		<td width="25%">Project Timecode:</td>
		<td width="25%">In: {{tc.film_tc_in}}</td>
		<td width="25%">Out: {{tc.film_tc_out}}</td>
		<td width="25%">Duration: {{tc.film_tc_duration}}</td>
	</tr>
	<tr>
		<td>Entry Timecode:</td>
		<td>In: {{tc.src_tc_in}}</td>
		<td>Out: {{tc.src_tc_out}}</td>
		<td>Duration: {{tc.src_tc_duration}}</td>
	</tr>
	<tr>
		<td>Entry Windowdub:</td>
		<td>In: {{tc.src_wd_in}}</td>
		<td>Out: {{tc.src_wd_out}}</td>
		<td>Duration: {{tc.src_wd_duration}}</td>
	</tr>
	<tr><td colspan="4">&nbsp;</td></tr>
	{% endfor %}
	{% endif %}
	<tr>
		<td>COST: <strong>{{entry.cost}}</strong></td>
		<td><strong>{{entry.cost_method}}</strong></td>
		<td align="right" style="padding-right:5px;">TOTAL:</td>
		<td><strong>{{entry.total_cost}}</strong></td>
 	</tr>
 	<tr><td colspan="4">&nbsp;</td></tr>
	<form action="/projects/get/{{project.id}}/entries/get/{{entry.id}}/timecodes/" method="post">{% csrf_token %}
	<tr>
		<td>Description:</td>
		<td colspan="3"><input type="text" id="description" name="description" /></td>
	</tr>
	<tr>
		<td>Project Timecode:</td>
		<td>In: <input type="text" id="film_tc_in" name="film_tc_in" size="10" /></td>
		<td>Out: <input type="text" id="film_tc_out" name="film_tc_out" size="10" /></td>
		<td>Duration: <input type="text" id="film_tc_duration" name="film_tc_duration" size="10" /></td>
	</tr>
	<tr>
		<td>Entry Timecode:</td>
		<td>In: <input type="text" id="src_tc_in" name="src_tc_in" size="10" /></td>
		<td>Out: <input type="text" id="src_tc_in" name="src_tc_in" size="10" /></td>
		<td>Duration: <input type="text" id="src_tc_in" name="src_tc_in" size="10" /></td>
	</tr>
	<tr>
		<td>Entry Windowdub:</td>
		<td>In: <input type="text" id="src_wd_in" name="src_wd_in" size="10" /></td>
		<td>Out: <input type="text" id="src_wd_in" name="src_wd_in" size="10" /></td>
		<td>Duration: <input type="text" id="src_wd_in" name="src_wd_in" size="10" /></td>
	</tr>
	<tr>
		<td align="right" colspan="4" style="padding-right:25px;"><input type="submit" name="Add Timecode" id="Add_Timecode" value="Add Timecode" /></td>
	</tr>
	</form>
</table>

<br>

<table width="100%" cellpadding="5" bgcolor="#B5E1E1">
	<tr>
		<td colspan="3" style="padding-left:10px;">
			<div class="heading16px">Licensing:</div>
		</td>
	</tr>
	<tr>
		<td>License: <strong>{% if entry.license_obtained %}Yes{% else %}No{% endif %}</strong></td>
		<td colspan="2">Type: <strong>{{entry.license_type}}</strong></td>
	</tr>
	<tr>
		<td width="33%">Source: <strong>{{entry.source}}</strong></td>
		<td width="33%">Contact: <strong>{{entry.source_contact}}</strong></td>
		<td width="33%">Email: <strong>{{entry.source_email}}</strong></td>
	</tr>
	<tr>
		<td>Reference ID: <strong>{{entry.source_id}}</strong></td>
		<td>Phone: <strong>{{entry.source_phone}}</strong></td>
		<td>Fax: <strong>{{entry.source_fax}}</strong></td>
	</tr>
	<tr>
		<td colspan="3">Address: <strong>{{entry.source_address}}</strong></td>
	</tr>
	<tr>
		<td colspan="3">Credit Language: <strong>{{entry.credit_language}}</strong></td>
	</tr>
</table>

{% if entry.entry_notes %}
<br>
	<div align="center">
		<h2>Notes:</h2>
		<strong>{{entry.entry_notes}}</strong>
	</div>
{% endif %}
{% else %}
<p>This entry doesn't exist yet. Please try another.</p>
{% endif %}
{% else %}
<p>This project is private. Please contact the project owner for an invitation.</p>
{% endif %}

{% endblock %}