{% extends "base.html" %}
{% load static %}

{% block sidebar %}
	
	<script>
		function process()
		{
		var url="/projects/get/{{project.id}}/assets/get/" + document.getElementById("assetid").value;
		location.href=url;
		return false;
		}
	</script>
	<script>
		$(function(){

			$('#search-assets').keyup(function() {

				$.ajax({
					type: "POST",
					url: "/projects/get/{{project.id}}/assets/search/",
					data: {
						'search_text' : $('#search-assets').val(),
						'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
					},
					success: searchSuccess,
					dataType: 'html'
				});
			});
		});

		function searchSuccess(data, textStatus, jqXHR)
		{
			$('#search-assets-results').html(data);
		}
	</script>

	{% if permission %}
		<a href="/projects/get/{{project.id}}/new_asset">+ Add New Asset</a>
		<p><a href="/projects/get/{{project.id}}/assets/">All Assets</a></p>
		<p>
			<a href="/projects/get/{{project.id}}/"><img src="{% static "assets/img/arrow_left.png" %}" width="40"></a>
			<a href="/projects/get/{{project.id}}"><img src="{% static "assets/img/arrow_right.png" %}" width="40"></a>
		</p>
		<p><a href="/projects/get/{{project.id}}/sort">Sort Assets</a></p>
		<p><a href="/projects/get/{{project.id}}/export">Export Assets</a></p>
		<p>Go To Entry:</h4></p>
		<form onSubmit="return process();">
		# <input type="text" id="assetid" name="assetid" size="5"/><input type="submit" name="submit" value="Go">
		</form>
		<p>Search Entries:</p>
		{% csrf_token %}
		<input type="text" id="search-assets" name="search-assets" />
		<ul id="search-assets-results">
		</ul>
	{% else %}
		<a href="/projects/all/">Your Projects</a>
	{% endif %}

{% endblock %}

{% block content %}

	{% if permission %}
		<form name="form" action="/projects/get/{{project.id}}/import/" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
	  	{% csrf_token %}
		  <table width="700" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
		    	<tr>
			      	<td>
			      		{{form.import_csv}}
			      	</td>
		    	</tr>
		  </table>
		  <br>
		  <input type="submit" name="Entry_Save" id="Entry_Save" value="Import Batch" />
		</form>
	{% else %}
	  <table width="100%" cellpadding="5" bgcolor="#ffffff">
	    <tr><td>You do not have access to this project.</td></tr>
	  </table>
	{% endif %}

{% endblock %}