{% extends "base.html" %}
{% load static %}

{% block sidebar %}
	
	<script>
		function process()
		{
		var url="/projects/get/{{project.id}}/assets/get/" + document.getElementById("assetid").value;
		location.href=url;
		return false;
		}
	</script>
	<script>
		$(function(){

			$('#search-assets').keyup(function() {

				$.ajax({
					type: "POST",
					url: "/projects/get/{{project.id}}/assets/search/",
					data: {
						'search_text' : $('#search-assets').val(),
						'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
					},
					success: searchSuccess,
					dataType: 'html'
				});
			});
		});

		function searchSuccess(data, textStatus, jqXHR)
		{
			$('#search-assets-results').html(data);
		}
	</script>

	{% if permission %}
		<a href="/projects/get/{{project.id}}/new_asset/">+ Add New Asset</a>
		<p><a href="/projects/get/{{project.id}}/assets/">All assets</a></p>
		<p>
			<a href="/projects/get/{{project.id}}/"><img src="{% static "assets/img/arrow_left.png" %}" width="40"></a>
			<a href="/projects/get/{{project.id}}"><img src="{% static "assets/img/arrow_right.png" %}" width="40"></a>
		</p>
		<p><a href="/projects/get/{{project.id}}/sort">Sort Assets</a></p>
		<p><a href="/projects/get/{{project.id}}/export">Export Assets</a></p>
		<p>Go To Asset:</h4></p>
		<form onSubmit="return process();">
		# <input type="text" id="assetid" name="assetid" size="5"/><input type="submit" name="submit" value="Go">
		</form>
		<p>Search Assets:</p>
		{% csrf_token %}
		<input type="text" id="search-assets" name="search-assets" />
		<ul id="search-assets-results">
		</ul>
	{% else %}
		<a href="/projects/all/">Your Projects</a>
	{% endif %}

{% endblock %}

{% block content %}

	{% if permission %}
		<h2>Success</h2>
		<p><a href="/projects/get/{{project.id}}"><strong>Back</strong></a></p>
	{% else %}
		<table width="100%" cellpadding="5" bgcolor="#ffffff">
	    	<tr><td>This project is private. Please contact the project owner for an invitation.</td></tr>
	  	</table>
	{% endif %}

{% endblock %}