{% extends "base.html" %}
{% load static %}

{% block headscript %}
	<script src="{% static "assets/js/jquery.timepicker.js" %}"></script>
	<script>
		$(function() {
		  $( "#date_produced" ).datepicker();
		});
	</script>
	<script type="text/javascript">
		function validateForm()
		{
		// regular expression to match required date format
		re = /^\d{1,2}\/\d{1,2}\/\d{4}$/;

		    if(form.date_produced.value != '' && !form.date_produced.value.match(re)) {
		      alert("Invalid date format: " + form.date_produced.value);
		      form.date_produced.focus();
		      return false;
		    }
		  }
	</script>
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/new_asset_layout.css" %}">
	<script src="{% static "assets/js/new_asset_layout.js" %}"></script>
{% endblock %}

{% block sidebar %}
	<script>
		function process()
		{
		var url="/projects/get/{{project.id}}/assets/get/" + document.getElementById("assetid").value;
		location.href=url;
		return false;
		}
	</script>
	<script>
		$(function(){

			$('#search-assets').keyup(function() {

				$.ajax({
					type: "POST",
					url: "/projects/get/{{project.id}}/assets/search/",
					data: {
						'search_text' : $('#search-assets').val(),
						'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
					},
					success: searchSuccess,
					dataType: 'html'
				});
			});
		});

		function searchSuccess(data, textStatus, jqXHR)
		{
			$('#search-assets-results').html(data);
		}
	</script>

	{% if permission %}
		<a href="/projects/get/{{project.id}}/new_asset/">+ Add New Asset</a>
		{% if previous_asset %}
			<p><a href="/projects/get/{{project.id}}/assets/">All Assets</a></p>
		{% endif %}
		<p>
		{% if previous_asset %}
			<a href="/projects/get/{{project.id}}/assets/get/{{previous_asset}}/"><img src="{% static "assets/img/arrow_left.png" %}" width="40"></a>
		{% else %}
			<a href="/projects/get/{{project.id}}/"><img src="{% static "assets/img/arrow_left.png" %}" width="40"></a>
		{% endif %}
		<a href="/projects/get/{{project.id}}/"><img src="{% static "assets/img/arrow_right.png" %}" width="40"></a>
		</p>
		<p><a href="/projects/get/{{project.id}}/sort/">Sort Assets</a></p>
		<p><a href="/projects/get/{{project.id}}/export/">Export Assets</a></p>
		{% if previous_asset %}
			<p>Go To Asset:</h4></p>
			<form onSubmit="return process();">
				# <input type="text" id="assetid" name="assetid" size="5"/><input type="submit" name="submit" value="Go">
			</form>
			<p>Search Assets:</p>
			{% csrf_token %}
			<input type="text" id="search-assets" name="search-assets" />
			<ul id="search-assets-results">
			</ul>
		{% endif %}
	{% else %}
		<a href="/projects/all/">Your Projects</a>
	{% endif %}

{% endblock %}

{% block content %}

	{% if permission %}
		<form name="form" action="/projects/get/{{project.id}}/new_asset/" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
				{% csrf_token %}
			<table width="100%" cellpadding="5" bgcolor="#ffffff">
				<tr>
					<td colspan="3">
						<div class="heading20px">New Asset</div>
					</td>
				</tr>
				<tr>
					<td rowspan="7" valign="top">
						<img src="{% static "assets/img/thumbnail.jpg" %}" alt="thumbnail" />
							<br />
							<br />
						<div align="center">{{form.thumbnail}}</div>
					</td>
					<td width="25%">&nbsp;</td>
					<td width="55%">ID #: {{newassetnumber}}
						<select id="asset_type" name="asset_type">
							<option value="">Choose Asset Type:</option>
							<option value="F - Video Found" onSelect="revealFootage();">F - Video Found</option>
							<option value="V - Archival and Sourced" onSelect="revealFootage();">V - Archival and Sourced</option>
							<option value="P - Still or Photograph" onSelect="revealStills();">P - Still or Photograph</option>
							<option value="M - Music" onSelect="revealMusic();">M - Music</option>
							<option value="N - Newsreel" onSelect="revealFootage();">N - Newsreel</option>
							<option value="T - Television" onSelect="revealFootage();">T - Television</option>
							<option value="A - Art" onSelect="revealStills();">A - Art</option>
							<option value="D - Document" onSelect="revealStills();">D - Document</option>
							<option value="G - Graphics" onSelect="revealStills();">G - Graphics</option>
						</select>
					</td>
				</tr>
				<tr>
					<td style="padding-right:5px;" align="right" valign="top"><label for="description">Description:</label></td>
					<td>{{form.description}}</td>
				</tr>
				<tr>
					<td style="padding-right:5px;" align="right">
						<label for="used_in_film">Used in Film:</label>
					</td>
					<td>
						{{form.used_in_film}}
					</td>
				</tr>
				<tr>
					<td style="padding-right:5px;"><label for="master_status">Master Status:</label></td>
					<td> 
						<select id="master_status" name="master_status">
							<option value="">--</option>
							<option value="Needed">Master Needed</option>
							<option value="In House">Master In House</option>
							<option value="Returned">Master Returned</option>
						</select>
					</td>
				</tr>
				<tr>
					<td style="padding-right:5px;" align="right"><label for="date_produced">Date:</label></td>
					<td> <input type="text" id="date_produced" name="date_produced" /></td>
				</tr>
				<tr>
					<td style="padding-right:5px;" align="right">
						<label for="location">Location:</label>
					</td>
					<td>
						{{form.location}}
					</td>
				</tr>
				<tr>
					<td style="padding-right:5px;" align="right"><label for="file_location">File Path:</label></td>
					<td> {{form.file_location}}</td>
				</tr>
			</table>

			<br>
			<div id="assetnavigation" align="center">
				<ul id="newassetlayout">
					<li><strong><a href="#" onclick="revealFootage();">Footage</a></strong></li>
					<li><strong><a href="#" onclick="revealStills();">Stills</a></strong></li>
					<li><strong><a href="#" onclick="revealMusic();">Music</a></strong></li>
				</ul>
			</div>

			<div id="footage">
				<table width="100%" cellpadding="5" bgcolor="#ffffff">
					<tr>
						<td colspan="4">
							<div class="heading16px">Footage:</div>		
						</td>
					</tr>
					<tr>
						<td width="15%">
							<label for="footage_format">Master Format:</label>
						</td>
						<td colspan="3">{{form.footage_format}}</td>
					</tr>
					<tr>
						<td>
							<label for="footage_region">Region: </label>
						</td>
						<td width="20%">
							<select id="footage_region" name="footage_region">
								<option value="">--</option>
								<option value="NTSC">NTSC</option>
								<option value="PAL">PAL</option>
							</select>
				  		</td>
						<td width="25%">
							<label for="footage_type">Type: </label>
							<select id="footage_type" name="footage_type">
								<option value="">--</option>
								<option value="SD">SD</option>
								<option value="HD">HD</option>
							</select> 
						</td>
						<td>
							<label for="footage_fps">FPS: </label>
							<select id="footage_fps" name="footage_fps">
								<option value="">--</option>
								<option value="18">18</option>
								<option value="24">24</option>
								<option value="25">25</option>
								<option value="30">30</option>
								<option value="50">50</option>
								<option value="60">60</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<label for="footage_url">Film URL: </label>
						</td>
						<td colspan="3">
							{{form.footage_url}}
						</td>
					</tr>
					<tr>
						<td colspan="4">
							{{form.footage_blackandwhite}} <label for="footage_blackandwhite">Black &amp; White </label>
							{{form.footage_color}} <label for="footage_color">Color </label> 
							{{form.footage_sepia}} <label for="footage_sepia">Sepia </label>
						</td>
					</tr>
				</table>
			</div>

			<div id="stills" style="display: none">
				<table width="100%" border="0" cellpadding="7" cellspacing="0" bgcolor="#ffffff">
					<tr>
						<td colspan="2">
							<div class="heading16px">Stills:</div>
						</td>
					</tr>
					<tr>
						<td width="15%">
							<label for="stills_credit">Photo Credit:</label>
						</td>
						<td>{{form.stills_credit}}</td>
					</tr>
					<tr>
						<td>
							<label for="stills_url">Photo URL:</label>
						</td>
						<td>{{form.stills_url}}</td>
					</tr>
					<tr>
						<td colspan="2">
							{{form.stills_blackandwhite}} <label for="stills_blackandwhite">Black &amp; White </label>
							{{form.stills_color}} <label for="stills_color">Color </label> 
							{{form.stills_sepia}} <label for="stills_sepia">Sepia </label>
						</td>
					</tr>
				</table>
			</div>

			<div id="music" style="display: none">
				<table width="100%" cellpadding="5" bgcolor="#ffffff">
					<tr>
						<td colspan="2">
							<div class="heading16px">Music:</div>
						</td>
					</tr>
					<tr>
						<td width="15%">
							<label for="music_format">Format: </label>
						</td>
						<td>
							<select id="music_format" name="music_format">
								<option value="">--</option>
								<option value="WAV">WAV</option>
								<option value="AIFF">AIFF</option>
								<option value="M4A">M4A</option>
								<option value="MP3">MP3</option>
							</select>
						</td>
					<tr>
						<td>
							<label for="music_credit">Artist Credit:</label>
						</td>
						<td>{{form.music_credit}}</td>
					</tr>
					<tr>
						<td>
							<label for="music_url">Song URL:</label>
						</td>
						<td>{{form.music_url}}</td>
					</tr>
				</table>
			</div>

			<br>
			<table width="100%" cellpadding="5" bgcolor="#ffffff">
				<tr>
					<td width="33%">
						<label for="cost">COST:</label> ${{form.cost}}
					</td>
					<td>
						Per: <select id="cost_model" name="cost_model">
							<option value="">Cost Model:</option>
							<option value="Use">Cost Per Use</option>
							<option value="Second">Cost Per Second</option>
							<option value="Minute">Cost Per Minute</option>
						</select>
					</td>
					<td>
						<label for="total_cost">TOTAL:</label> {{form.total_cost}}	
					</td>
				</tr>
			</table>

			<br />
			<table width="100%" cellpadding="5" bgcolor="#ffffff">
				<tr>
					<td colspan="4">
						<div class="heading16px">Licensing:</div>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						{{form.license_obtained}} <label for="license_obtained">License</label>
					</td>
					<td width="14%">
						<label for="license_type">Type:</label>
					</td>
					<td> {{form.license_type}}</td>
				</tr>
				<tr>
					<td width="17%">
						<label for="source">Source:</label>
					</td>
					<td>{{form.source}}</td>
					<td>
						<label for="source_id">Reference ID: </label>
					</td>
					<td>{{form.source_id}}</td>
				</tr>
				<tr>
					<td>
						<label for="source_contact">Contact:</label>
					</td>
					<td>{{form.source_contact}}</td>
					<td>
						<label for="source_email">Email: </label>
					</td>
					<td>{{form.source_email}}</td>
				</tr>
				<tr>
					<td>
						<label for="source_phone">Phone:</label>
					</td>
					<td>{{form.source_phone}}</td>
					<td>
						<label for="source_fax">Fax:</label>
					</td>
					<td>{{form.source_fax}}</td>
				</tr>
				<tr>
					<td>
						<label for="source_address">Address:</label>
					</td>
					<td colspan="3">{{form.source_address}}</td>
				</tr>
				<tr>
					<td><label for="credit_language">Credit Language:</label></td>
					<td colspan="3">{{form.credit_language}}</td>
				</tr>
			</table>

			<br>
			<div align="center">
				<div class="heading16px">Notes:</div>
				<p>{{form.notes}}</p>
			</div>

			<br>
			<table width="100%">
				<tr>
					<td width="33%" style="padding-left:50px;">
						<a href="/projects/get/{{project.id}}/">Cancel</a>
					</td>
					<td width="33%">
						&nbsp;
					</td>
					<td width="33%" style="padding-right:50px;" align="right">
						<input type="submit" name="Save" id="Save" value="Create Asset" />
					</td>
				</tr>
			</table>
		</form>

	{% else %}
		<table width="100%" cellpadding="5" bgcolor="#ffffff">
			<tr><td>You do not have access to this project.</td></tr>
		</table>
	{% endif %}

{% endblock %}