{% extends "base.html" %}
{% load static %}

{% block sidebar %}

	<a href="/projects/new_project/">+ New Project</a>
	<p><a href="/projects/all/">Your Projects</a></p>
	{% if projects %}
		<p>Search Projects:</p>
		{% csrf_token %}
		<input type="text" id="search" name="search" />
		<ul id="search-results">
		</ul>
	{% endif %}

{% endblock %}

{% block content %}

	<form action="/projects/new_project/" method="post" enctype="multipart/form-data">{% csrf_token %}
		<table width="100%" cellpadding="5" bgcolor="#ffffff">
			<tr>
				<td colspan="3">
					<div class="heading20px">New Project</div>
				</td>
			</tr>
			<tr>
				<td width="20%" rowspan="8" valign="top"><img src="{% static "assets/img/thumbnail.jpg" %}">{{ form.thumbnail }}</td>
				<td width="25%" align="right" style="padding-right:5px;"><label for="name">Project Name:</label></td>
				<td width="55%">{{ form.name }}</td>
			</tr>
			<tr>
				<td valign="top" align="right" style="padding-right:5px;"><label for="description">Description:</label></td>
				<td valign="top" width="400">{{ form.description }}</td>
			</tr>
			<tr>
				<td valign="top" align="right" style="padding-right:5px;"><label for="format">Format:</label></td>
				<td valign="top" width="400">{{form.format}}</td>
			</tr>
			<tr>
				<td valign="top" align="right" style="padding-right:5px;"><label for="region">Region:</label></td>
				<td valign="top" width="400">
					<select id="region" name="region">
						<option value="">--</option>
						<option value="NTSC">NTSC</option>
						<option value="PAL">PAL</option>
					</select>
				</td>
			</tr>
			<tr>
				<td valign="top" align="right" style="padding-right:5px;"><label for="framerate">Framerate:</label></td>
				<td valign="top" width="400">
					<select id="framerate" name="framerate">
						<option value="">--</option>
						<option value="18">18</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="30">30</option>
						<option value="50">50</option>
						<option value="60">60</option>
					</select>
				</td>
			</tr>
			<tr>
				<td valign="top" align="right" style="padding-right:5px;"><label for="filmtype">Film Type:</label></td>
				<td valign="top" width="400">
					<select id="filmtype" name="filmtype">
						<option value="">--</option>
						<option value="SD">SD</option>
						<option value="HD">HD</option>
					</select> 
				</td>
			</tr>
			<tr>
				<td valign="top" align="right" style="padding-right:5px;"><label for="length">Length:</label></td>
				<td valign="top" width="400">{{ form.length }}</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td align="right" style="padding-right:50px;">
					<input type="submit" name="submit" value="Create Project">
				</td>
			</tr>
		</table>
	</form>
	
{% endblock %}