{% extends "base.html" %}
{% load static %}

{% block sidebar %}

	<script>
		$(function(){

			$('#search-projects').keyup(function() {

				$.ajax({
					type: "POST",
					url: "/projects/search/",
					data: {
						'search_text' : $('#search-projects').val(),
						'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
					},
					success: searchSuccess,
					dataType: 'html'
				});
			});
		});

		function searchSuccess(data, textStatus, jqXHR)
		{
			$('#search-projects-results').html(data);
		}
	</script>

	<a href="/projects/new_project/">+ New Project</a>
	<p><a href="/projects/all/">Your Projects</a></p>
	{% if projects %}
		<p>Search Projects:</p>
		{% csrf_token %}
		<input type="text" id="search-projects" name="search-projects" />
		<ul id="search-projects-results">
		</ul>
	{% endif %}

{% endblock %}

{% block content %}

	{% if projects > 0 %}

		<table width="100%" cellpadding="5" bgcolor="#ffffff">
			<tr>
				<td colspan="2">
					<div class="projecttitle">
						<span class="title"><div class="heading20px">Your Projects:</div></span>
						<span class="newproject"><a href="/projects/new_project/"><img src="{% static "assets/img/new_project.png" %}"></a></span>
					</div>
				</td>
			</tr>

		{% for project in projects %}
			
			{% if forloop.last %}
				<tr>
					<td width="25%">
						{% if project.thumbnail %}
							<a href="/projects/get/{{ project.id }}/">
							<img src="{% get_static_prefix %}{{project.thumbnail}}" width="150" />
							</a>
						{% else %}&nbsp;{% endif %}
					</td>
			    	<td width="75%" valign="top">
						<div class="heading16px">
							<a href="/projects/get/{{ project.id }}/">{{ project.name }}</a>
						</div>
						<p><a href="/projects/get/{{ project.id }}/">{{ project.description }}</a></p>
						<p><a href="/projects/get/{{project.id}}/">{{project.filmtype}} • {{project.format}} • {{project.framerate}} • {{project.region}} • {{project.length}}</a></p>
					</td>
				</tr>
			{% else %}
				<tr>
					<td width="25%">
						{% if project.thumbnail %}
							<a href="/projects/get/{{ project.id }}/">
							<img src="{% get_static_prefix %}{{project.thumbnail}}" width="150" />
							</a>
						{% else %}&nbsp;{% endif %}
					</td>
			    	<td width="75%" valign="top">
						<div class="heading16px">
							<a href="/projects/get/{{ project.id }}/">{{ project.name }}</a>
						</div>
						<p><a href="/projects/get/{{ project.id }}/">{{ project.description }}</a></p>
						<p><a href="/projects/get/{{project.id}}/">{{project.filmtype}} • {{project.format}} • {{project.framerate}}fps • {{project.region}} • {{project.length}}</a></p>
					</td>
				</tr>
				<tr><td colspan="2">&nbsp;</td></tr>
			{% endif %}

		{% endfor %}

		</table>

	{% else %}

		<table width="100%" cellpadding="5" bgcolor="#ffffff">
			<tr>
				<td>
					Welcome, {{thisuser.username}}. You don't have any projects yet!
					<p>Click on <strong><a href="/projects/new_project/">+ New Project</a></strong> to create a new project for your film.</p>
				</td>
			</tr>
		</table>

	{% endif %}

{% endblock %}