{% extends "base.html" %}
{% load static %}

{% block headscript %}

	<script src="{% static "assets/js/jquery.timepicker.js" %}"></script>
	<script>
		$(function() {
			$( "#date_start" ).datepicker();
		});
	</script>
	<script>
	    $(function() {
	    	( "#date_end" ).datepicker();
	    });
	</script>
	<script type="text/javascript">
		function validateForm()
		{
			// regular expression to match required date format
		    re = /^\d{1,2}\/\d{1,2}\/\d{4}$/;

		    if(form.date_produced.value != '' && !form.date_produced.value.match(re)) {
		    	alert("Invalid date format: " + form.date_produced.value);
		    	form.date_produced.focus();
		    	return false;
		    }
		}
	</script>

{% endblock %}

{% block sidebar %}
	<script>
		function process()
		{
		var url="/projects/get/{{project.id}}/assets/get/" + document.getElementById("assetid").value;
		location.href=url;
		return false;
		}
	</script>
	<script>
		$(function(){

			$('#search-assets').keyup(function() {

				$.ajax({
					type: "POST",
					url: "/projects/get/{{project.id}}/assets/search/",
					data: {
						'search_text' : $('#search-assets').val(),
						'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
					},
					success: searchSuccess,
					dataType: 'html'
				});
			});
		});

		function searchSuccess(data, textStatus, jqXHR)
		{
			$('#search-assets-results').html(data);
		}
	</script>

	{% if permission %}
		{% if assets %}
			<a href="/projects/get/{{project.id}}/new_asset/">+ Add New Asset</a>
			<p><a href="/projects/get/{{project.id}}/assets/">All Assets</a></p>
			<p>
				<a href="/projects/get/{{project.id}}/"><img src="{% static "assets/img/arrow_left.png" %}" width="40"></a>
				<a href="/projects/get/{{project.id}}/assets/get/1/"><img src="{% static "assets/img/arrow_right.png" %}" width="40"></a>
			</p>
			<p><a href="/projects/get/{{project.id}}/sort/">Sort Assets</a></p>
			<p><a href="/projects/get/{{project.id}}/export/">Export Assets</a></p>
			<p>Go To Asset:</h4></p>
			<form onSubmit="return process();">
			# <input type="text" id="assetid" name="assetid" size="5"/><input type="submit" name="submit" value="Go">
			</form>
			<p>Search assets:</p>
			{% csrf_token %}
			<input type="text" id="search-assets" name="search-assets" />
			<ul id="search-assets-results">
			</ul>
		{% else %}
			<a href="/projects/get/{{project.id}}/new_asset/">+ Add New Asset</a>
		{% endif %}
	{% else %}
		<a href="/projects/all/">Your Projects</a>
	{% endif %}

{% endblock %}

{% block content %}

	{% if permission %}
		<form name="form" action="/projects/get/{{project.id}}/sort/" method="post" onsubmit="return validateForm()">{% csrf_token %}
			<table width="100%" cellpadding="5" bgcolor="#ffffff">
			  	<tr>
			      <td width="40%">&nbsp;</td>
			    	<td width="60%">
			  			<select id="asset_type" name="asset_type">
			  				<option value="">Choose Asset Type:</option>
			  				<option value="F - Video Found">F - Video Found</option>
			  				<option value="V - Archival and Sourced">V - Archival and Sourced</option>
			  				<option value="P - Still or Photograph">P - Still or Photograph</option>
			  				<option value="M - Music">M - Music</option>
			  				<option value="N - Newsreel">N - Newsreel</option>
			  				<option value="T - Television">T - Television</option>
			  				<option value="A - Art">A - Art</option>
			  				<option value="D - Document">D - Document</option>
			  				<option value="G - Graphics">G - Graphics</option>
			  			</select>
			    	</td>
			  	</tr>
			  	<tr>
			    	<td align="right" style="padding-right:5px;" valign="top"><label for="description">Description:</label></td>
			    	<td><input type="text" id="description" name="description" /></td>
				</tr>
			  	<tr>
			    	<td align="right" style="padding-right:5px;"><label for="used_in_film">Used in Film:</label></td>
			    	<td><input type="checkbox" name="used_in_film" id="used_in_film" /></td>
			    </tr>
			  	<tr>
			    	<td align="right" style="padding-right:5px;"><label for="master_status">Master Status:</label></td>
			    	<td> 
			    		<select id="master_status" name="master_status">
			    			<option value="">--</option>
			    			<option value="Needed">Master Needed</option>
			    			<option value="In House">Master In House</option>
			    			<option value="Returned">Master Returned</option>
			    		</select>
			    	</td>
			    </tr>
			  	<tr>
			    	<td align="right" style="padding-right:5px;"><label for="date_produced">Date Range:</label></td>
			    	<td>
			    		<input type="text" id="date_start" name="date_start" />
			    		<input type="text" id="date_end" name="date_end" />
			    	</td>
			    </tr>
			  	<tr>
			    	<td align="right" style="padding-right:5px;"><label for="location">Location:</label></td>
			    	<td>
			    		<input type="text" id="location" name="location" />
			    	</td>
			    </tr>
			  	<tr>
			    	<td align="right" style="padding-right:5px;"><label for="file_location">File Address:</label></td>
			    	<td>
			    		<input type="text" id="file_location" name="file_location" />
			    	</td>
			    </tr>
			</table>

			<br>
			<table width="100%" cellpadding="5" bgcolor="#ffffff">
				<tr>
			      	<td colspan="3" style="padding-left:10px;">
						     <div class="heading16px">Footage:</div>		
			       	</td>
				</tr>
				<tr>
			       	<td colspan="3">
						<label for="footage_format">Master Format:</label> <input type="text" id="footage_format" name="footage_format" />
					</td>
				</tr>
				<tr>
					<td width="25%">
						<label for="footage_region">Region: </label>
				  		<select id="footage_region" name="footage_region">
			  				<option value="">--</option>
			  				<option value="NTSC">NTSC</option>
			  				<option value="PAL">PAL</option>
			  			</select>
			  		</td>
			  		<td width="15%">
			  			<label for="footage_type">Type: </label>
			  			<select id="footage_type" name="footage_type">
			  				<option value="">--</option>
			  				<option value="SD">SD</option>
			  				<option value="HD">HD</option>
			  			</select> 
			  		</td>
			  		<td>
			  			<label for="footage_fps">FPS: </label>
			  			<select id="footage_fps" name="footage_fps">
			  				<option value="">--</option>
			  				<option value="18">18</option>
			  				<option value="24">24</option>
			  				<option value="25">25</option>
			  				<option value="30">30</option>
			  				<option value="50">50</option>
			  				<option value="60">60</option>
			  			</select>
			  		</td>
			  	</tr>
				<tr>
				  	<td colspan="3">
				  		<label for="film_url">Footage URL: </label> <input type="text" id="footage_url" name="footage_url" />
				  	</td>
				</tr>
				<tr>
			       	<td colspan="3">
			       		<input type="checkbox" name="footage_blackandwhite" id="footage_blackandwhite" /> 
			       		<label for="footage_blackandwhite">Black &amp; White </label>
			        	<input type="checkbox" name="footage_color" id="footage_color" /> <label for="footage_color">Color </label> 
			        	<input type="checkbox" name="footage_sepia" id="footage_sepia" /> <label for="footage_sepia">Sepia </label>
			    	</td>
			    </tr>
			</table>

			<br>
			<table width="100%" cellpadding="5" bgcolor="#ffffff">
				<tr>
			    	<td style="padding-left:10px;">
						<div class="heading16px">Stills:</div>
					</td>
				</tr>
				<tr>
			       	<td><label for="stills_credit">Photo Credit:</label> <input type="text" id="stills_credit" name="stills_credit" /></td>
				</tr>
				<tr>
			       	<td>
			       		<label for="stills_url">Photo URL:</label> <input type="text" id="stills_url" name="stills_url" />
					</td>
				</tr>
				<tr>
			       	<td>
			       		<input type="checkbox" name="stills_blackandwhite" id="stills_blackandwhite" /> <label for="stills_blackandwhite">Black &amp; White </label>
			        	<input type="checkbox" name="stills_color" id="stills_color" /> <label for="stills_color">Color </label> 
			        	<input type="checkbox" name="stills_sepia" id="stills_sepia" /> <label for="stills_sepia">Sepia </label>
			    	</td>
				</tr>
			</table>

			<br>
			<table width="100%" cellpadding="5" bgcolor="#ffffff">
				<tr>
			        <td style="padding-left:10px;">
						<div class="heading16px">Music:</div>
					</td>
				</tr>
				<tr>
					<td>
						<label for="music_format">Format: </label> 
				  		<select id="music_format" name="music_format">
			  			<option value="">--</option>
			  			<option value="WAV">WAV</option>
			  			<option value="AIFF">AIFF</option>
			  			<option value="M4A">M4A</option>
			  			<option value="MP3">MP3</option>
			  			</select>
					</td>
				<tr>
			       	<td>
						<label for="music_credit">Artist Credit:</label> <input type="text" id="music_credit" name="music_credit" />
					</td>
				</tr>
				<tr>
			       	<td>
						<label for="music_url">Song URL:</label> <input type="text" id="music_url" name="music_url" />
					</td>
				</tr>
			</table>

			<br>
			<table width="100%" cellpadding="5" bgcolor="#ffffff">
			  	<tr>
			    	<td colspan="3" style="padding-left:10px;">
			    		<div class="heading16px">Licensing:</div>
			    	</td>
			    </tr>
			  	<tr>
			    	<td>
			    		<input type="checkbox" name="license_obtained" id="license_obtained" /> <label for="license_obtained">License</label>
			    	</td>
			    	<td colspan="2">
			    		<label for="license_type">Type:</label> <input type="text" id="license_type" name="license_type" />
			    	</td>
			    </tr>
			  	<tr>
			    	<td width="33%">
			    		<label for="source">Source:</label> <input type="text" id="source" name="source" />
			    	</td>
			    	<td width="33%">
			    		<label for="source_contact">Contact:</label> <input type="text" id="source_contact" name="source_contact" />
			    	</td>
			    	<td width="33%">
			    		<label for="source_email">Email: </label> <input type="text" id="source_email" name="source_email" />
			    	</td>
			  	</tr>
			  	<tr>
			    	<td>
			    		<label for="source_id">Reference ID: </label> <input type="text" id="source_id" name="source_id" />
			    	</td>
			    	<td>
			    		<label for="source_phone">Phone:</label>  <input type="text" id="source_phone" name="source_phone" />
			    	</td>
			    	<td>
			    		<label for="source_fax">Fax: <input type="text" id="source_fax" name="source_fax" />
			    	</td>
			  	</tr>
			  	<tr>
			    	<td colspan="2">
			    		<label for="source_address">Address:</label> <input type="text" id="source_address" name="source_address" />
			    	</td>
			    	<td>&nbsp;</td>
			  	</tr>
			  	<tr>
			    	<td colspan="3">
			    		<label for="credit_language">Credit Language:</label> <input type="text" id="credit_language" name="credit_language" />
			    	</td>
			    </tr>
			  	<tr>
			    	<td>
			    		<label for="timecode_in">Timecode IN:</label> <input type="text" id="timecode_in" name="timecode_in" />
			    	</td>
			    	<td>
			    		<label for="timecode_out">Timecode OUT:</label> <input type="text" id="timecode_out" name="timecode_out" />
			    	</td>
			    	<td>
			    		<label for="duration">Duration:</label> <input type="text" id="duration" name="duration" />
			    	</td>
			  	</tr>
			  	<tr>
			    	<td>
			    		<label for="wd_in">WD IN:</label> <input type="text" id="wd_in" name="wd_in" />
			    	</td>
			    	<td>
			    		<label for="wd_out">WD OUT:</label> <input type="text" id="wd_out" name="wd_out" />
			    	</td>
			    	<td>&nbsp;</td>
			  	</tr>
			  	<tr>
			    	<td colspan="2">
			    		<label for="cost">COST:</label> <input type="text" id="cost" name="cost" />
				  		<select id="cost_model" name="cost_model">
			  			<option value="">Cost Model:</option>
			  			<option value="Cost per use">Cost Per Use</option>
			  			<option value="Cost per second">Cost Per Second</option>
			  			<option value="Cost per minute">Cost Per Minute</option>
			  			</select>
			    	</td>
			    	<td>
			    		<label for="total_cost">TOTAL:</label> <input type="text" id="total_cost" name="total_cost" />	
			    	</td>
			  	</tr>
			</table>

			<br>

				<div align="center"><h2>Notes:</h2> <input type="text" id="notes" name="notes" /></div>

			<br>
			<br>

			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			    <tr>
			       	<td>
						<div align="right" style="padding-right:50px;"><input type="submit" name="Sort" id="Sort" value="Sort assets" /></div>
					</td>
			    </tr>
			</table>
		</form>
	{% else %}
		<table width="100%" cellpadding="5" bgcolor="#ffffff">
			<tr><td>You do not have access to this project.</td></tr>
		</table>
	{% endif %}

{% endblock %}