{% extends "base.html" %}
{% load static %}

{% block sidebar %}
<script>
	function process()
	{
	var url="/projects/get/{{projects.id}}/assets/get/" + document.getElementById("assetid").value;
	location.href=url;
	return false;
	}
</script>
<script>
	$(function(){

		$('#search-assets').keyup(function() {

			$.ajax({
				type: "POST",
				url: "/projects/get/{{projects.id}}/assets/search/",
				data: {
					'search_text' : $('#search-assets').val(),
					'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
				},
				success: searchSuccess,
				dataType: 'html'
			});
		});
	});

	function searchSuccess(data, textStatus, jqXHR)
	{
		$('#search-assets-results').html(data);
	}
</script>


{% if permission %}
	<a href="/projects/get/{{projects.id}}/new/asset/">+ Add New Asset</a>
{% if asset.count < 1 %}
<p><a href="/projects/get/{{projects.id}}/assets/">All Assets</a></p>
{% endif %}
<p>
{% if prev_asset %}
<a href="/projects/get/{{projects.id}}/entries/get/{{asset.unique_id|add:"-1"}}"><img src="{% static "assets/img/arrow_left.png" %}" width="40"></a>
{% else %}
<a href="/projects/get/{{projects.id}}"><img src="{% static "assets/img/arrow_left.png" %}" width="40"></a>
{% endif %}
{% if next_asset %}
<a href="/projects/get/{{projects.id}}/entries/get/{{asset.unique_id|add:"1"}}"><img src="{% static "assets/img/arrow_right.png" %}" width="40"></a>
{% else %}
<a href="/projects/get/{{projects.id}}"><img src="{% static "assets/img/arrow_right.png" %}" width="40"></a>
{% endif %}
</p>
<p><a href="/projects/get/{{projects.id}}/sort">Sort Assets</a></p>
<p><a href="/projects/get/{{projects.id}}/export">Export Assets</a></p>
<p>Go To Asset:</h4></p>
<form onSubmit="return process();">
# <input type="text" id="assetid" name="assetid" size="5"/><input type="submit" name="submit" value="Go">
</form>
<p>Search Asset:</p>
{% csrf_token %}
<input type="text" id="search-entries" name="search-entries" />
<ul id="search-entries-results">
</ul>
{% else %}
<a href="/projects/all">Your Projects</a>
{% endif %}

{% endblock %}

{% block content %}

{% if permission %}
{% if asset %}
<form action="/projects/get/{{project.id}}/assets/get/{{asset.id}}/timecodes/" method="post">{% csrf_token %}
  <div class="heading16px">Timecode:</div>
  <table width="100%" cellpadding="5" bgcolor="#ffffff">
    <tr>
      <td>Timecode In: {{form.tcin}}</td>
      <td>Timecode Out: {{form.tcout}}</td>
      <td>Duration: {{form.tcdur}}</td>
    </tr>
    <tr>
      <td align="right" style="padding-right:50px;">
        <input type="submit" name="Add Timecode" id="Add_Timecode" value="Add Timecode" />
      </td>
    </tr>
  </table>
</form>
{% else %}
<p>This asset doesn't exist yet. Please try another.</p>
{% endif %}
{% else %}
<p>This project is private. Please contact the project owner for an invitation.</p>
{% endif %}

{% endblock %}