{% extends "base.html" %}
{% load static %}

{% block sidebar %}
<script>
function process()
{
var url="/projects/get/{{projects.id}}/entries/get/" + document.getElementById("entryid").value;
location.href=url;
return false;
}
</script>
<script>
$(function(){

	$('#search-entries').keyup(function() {

		$.ajax({
			type: "POST",
			url: "/projects/get/{{projects.id}}/entries/search/",
			data: {
				'search_text' : $('#search-entries').val(),
				'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
			},
			success: searchSuccess,
			dataType: 'html'
		});
	});
});

function searchSuccess(data, textStatus, jqXHR)
{
	$('#search-entries-results').html(data);
}
</script>


{% if entrypermission %}
<a href="/projects/new_entry/{{projects.id}}">+ Add New Entry</a>
{% if entry.count < 1 %}
<p><a href="/projects/get/{{projects.id}}/entries/">All Entries</a></p>
{% endif %}
<p>
{% if prev_entry %}
<a href="/projects/get/{{projects.id}}/entries/get/{{entry.entry_unique|add:"-1"}}"><img src="{% static "assets/img/arrow_left.png" %}" width="40"></a>
{% else %}
<a href="/projects/get/{{projects.id}}"><img src="{% static "assets/img/arrow_left.png" %}" width="40"></a>
{% endif %}
{% if next_entry %}
<a href="/projects/get/{{projects.id}}/entries/get/{{entry.entry_unique|add:"1"}}"><img src="{% static "assets/img/arrow_right.png" %}" width="40"></a>
{% else %}
<a href="/projects/get/{{projects.id}}"><img src="{% static "assets/img/arrow_right.png" %}" width="40"></a>
{% endif %}
</p>
<p><a href="/projects/get/{{projects.id}}/sort">Sort Entries</a></p>
<p><a href="/projects/get/{{projects.id}}/export">Export Entries</a></p>
<p>Go To Entry:</h4></p>
<form onSubmit="return process();">
# <input type="text" id="entryid" name="entryid" size="5"/><input type="submit" name="submit" value="Go">
</form>
{% endif %}
<p>Search Entries:</p>
{% csrf_token %}
<input type="text" id="search-entries" name="search-entries" />

<ul id="search-entries-results">

</ul>

{% endblock %}

{% block content %}

{% if entrypermission %}
{% if entry %}
<form action="/projects/get/{{project.id}}/entries/get/{{entry.id}}/timecode/" method="post">{% csrf_token %}
  <div class="heading16px">Timecode:</div>
  <table width="100%" cellpadding="5" bgcolor="#ffffff">
    <tr>
      <td>Timecode In: {{form.tcin}}</td>
      <td>Timecode Out: {{form.tcout}}</td>
      <td>Duration: {{form.tcdur}}</td>
    </tr>
    <tr>
      <td align="right" style="padding-right:50px;">
        <input type="submit" name="Add Timecode" id="Add_Timecode" value="Add Timecode" />
      </td>
    </tr>
  </table>
</form>
{% else %}
<p>This entry doesn't exist yet. Please try another.</p>
{% endif %}
{% else %}
<p>This project is private. Please contact the project owner for an invitation.</p>
{% endif %}

{% endblock %}