{% extends "base.html" %}
{% load static %}

{% block headscript %}

<script src="{% static "assets/js/jquery.timepicker.js" %}"></script>
	<script>
  $(function() {
    $( "#date_produced" ).datepicker();
  });
  </script>
  	<script type="text/javascript">

  function validateForm()
  {
    // regular expression to match required date format
    re = /^\d{1,2}\/\d{1,2}\/\d{4}$/;

    if(form.date_produced.value != '' && !form.date_produced.value.match(re)) {
      alert("Invalid date format: " + form.date_produced.value);
      form.date_produced.focus();
      return false;
    }
  }
</script>
{% endblock %}

{% block sidebar %}

<script>
function process()
{
var url="/projects/get/{{project.id}}/entries/get/" + document.getElementById("entryid").value;
location.href=url;
return false;
}
</script>
<script>
$(function(){

	$('#search-entries').keyup(function() {

		$.ajax({
			type: "POST",
			url: "/projects/get/{{project.id}}/entries/search/",
			data: {
				'search_text' : $('#search-entries').val(),
				'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
			},
			success: searchSuccess,
			dataType: 'html'
		});
	});
});

function searchSuccess(data, textStatus, jqXHR)
{
	$('#search-entries-results').html(data);
}
</script>

{% if permission %}
<a href="/projects/new_entry/{{project.id}}">+ Add New Entry</a>
<p><a href="/projects/get/{{project.id}}/entries/">All Entries</a></p>
<p>
{% if prev_entry %}
<a href="/projects/get/{{project.id}}/entries/get/{{entry.entry_unique}}"><img src="{% static "assets/img/arrow_left.png" %}" width="40"></a>
{% else %}
<a href="/projects/get/{{project.id}}"><img src="{% static "assets/img/arrow_left.png" %}" width="40"></a>
{% endif %}
{% if next_entry %}
<a href="/projects/get/{{project.id}}/entries/get/{{entry.entry_unique|add:"1"}}"><img src="{% static "assets/img/arrow_right.png" %}" width="40"></a>
{% else %}
<a href="/projects/get/{{project.id}}"><img src="{% static "assets/img/arrow_right.png" %}" width="40"></a>
{% endif %}
</p>
<p><a href="/projects/get/{{project.id}}/sort">Sort Entries</a></p>
<p><a href="/projects/get/{{project.id}}/export">Export Entries</a></p>
<p>Go To Entry:</h4></p>
<form onSubmit="return process();">
# <input type="text" id="entryid" name="entryid" size="5"/><input type="submit" name="submit" value="Go">
</form>
{% endif %}
{% if permission %}
<p>Search Entries:</p>
{% csrf_token %}
<input type="text" id="search-entries" name="search-entries" />

<ul id="search-entries-results">

</ul>
{% endif %}

{% endblock %}

{% block content %}

{% if permission %}
{% if thisentry %}
<form name="form" action="/projects/get/{{project.id}}/entries/get/{{thisentry.entry_unique}}/update/" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
{% csrf_token %}
<table width="100%" cellpadding="5" bgcolor="#ffffff">
	<tr>
		<td colspan="3">
			<div class="heading20px">Update Entry</div>
		</td>
	</tr>
	<tr>
		<td rowspan="7" valign="top">{% if thisentry.entry_thumbnail %}<img src="{% get_static_prefix %}{{thisentry.entry_thumbnail}}" alt="thumbnail" />{% else %}<img src="{% static "assets/img/entry_thumbnail.jpg" %}">{% endif %}
			<br />
			<br />
			<div align="center">{{form.entry_thumbnail}}</div>
		</td>
		<td width="25%"><div align="right"></div></td>
		<td width="55%">ID #: {{thisentry.entry_unique}}
			<select id="entry_type" name="entry_type">
				<option {% if not thisentry.entry_type %}selected="selected"{% endif %} value="">Choose Asset Type:</option>
				<option {% if thisentry.entry_type == "F - Video Found" %}selected="selected"{% endif %} value="F - Video Found">F - Video Found</option>
				<option {% if thisentry.entry_type == "V - Archival and Source" %}selected="selected"{% endif %} value="V - Archival and Sourced">V - Archival and Sourced</option>
				<option {% if thisentry.entry_type == "P - Still or Photograph" %}selected="selected"{% endif %} value="P - Still or Photograph">P - Still or Photograph</option>
				<option {% if thisentry.entry_type == "M - Music" %}selected="selected"{% endif %} value="M - Music">M - Music</option>
				<option {% if thisentry.entry_type == "N - Newsreel" %}selected="selected"{% endif %} value="N - Newsreel">N - Newsreel</option>
				<option {% if thisentry.entry_type == "T - Television" %}selected="selected"{% endif %} value="T - Television">T - Television</option>
				<option {% if thisentry.entry_type == "A - Art" %}selected="selected"{% endif %} value="A - Art">A - Art</option>
				<option {% if thisentry.entry_type == "D - Document" %}selected="selected"{% endif %} value="D - Document">D - Document</option>
				<option {% if thisentry.entry_type == "G - Graphics" %}selected="selected"{% endif %} value="G - Graphics">G - Graphics</option>
			</select>
		</td>
	</tr>
	<tr>
		<td align="right" style="padding-right:5px;" valign="top">Description:</td>
		<td>{{form.entry_description}}</td>
	</tr>
	<tr>
		<td align="right" style="padding-right:5px;">Used in Film:</td>
		<td>{{form.used_in_film}}</td>
	</tr>
	<tr>
		<td align="right" style="padding-right:5px;"><label for="master_status">Master Status:</label></td>
		<td> 
			<select id="master_status" name="master_status">
				<option {% if not thisentry.master_status %}selected="selected"{% endif %} value="">--</option>
				<option {% if thisentry.master_status == "Needed" %}selected="selected"{% endif %} value="Needed">Master Needed</option>
				<option {% if thisentry.master_status == "In House" %}selected="selected"{% endif %} value="In House">Master In House</option>
				<option {% if thisentry.master_status == "Returned" %}selected="selected"{% endif %} value="Returned">Master Returned</option>
			</select>
		</td>
	</tr>
	<tr>
		<td align="right" style="padding-right:5px;"><label for="date_produced">Date Produced:</label></td>
		<td><input type="text" id="date_produced" name="date_produced" value="{% if thisentry.date_produced  == "None" %}{% else %}{{thisentry.date_produced|date:'m/d/Y'}}{% endif %}"/></td>
	</tr>
	<tr>
		<td align="right" style="padding-right:5px;"><label for="location">Location:</label></td>
		<td>{{form.location}}</td>
	</tr>
	<tr>
		<td align="right" style="padding-right:5px;"><label for="file_location">File Address:</label></td>
		<td>{{form.file_location}}</td>
	</tr>
</table>

<br />

<table width="100%" cellpadding="5" bgcolor="C5EAFF">
	<tr>
		<td colspan="3" style="padding-left:10px;">
			<div class="heading16px">Footage:</div>		
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<label for="footage_format">Master Format:</label> {{form.footage_format}}
		</td>
	</tr>
	<tr>
		<td width="25%">
			<label for="footage_region">Region: </label>
			<select id="footage_region" name="footage_region">
				<option {% if not thisentry.footage_region %}selected="selected"{% endif %} value="">--</option>
				<option {% if thisentry.footage_region == "NTSC" %}selected="selected"{% endif %} value="NTSC">NTSC</option>
				<option {% if thisentry.footage_region == "PAL" %}selected="selected"{% endif %} value="PAL">PAL</option>
			</select>
		</td>
		<td width="15%">
			<label for="footage_type">Type: </label>
			<select id="footage_type" name="footage_type">
				<option {% if not thisentry.footage_type %}selected="selected"{% endif %} value="">--</option>
				<option {% if thisentry.footage_type == "SD" %}selected="selected"{% endif %} value="SD">SD</option>
				<option {% if thisentry.footage_type == "HD" %}selected="selected"{% endif %} value="HD">HD</option>
			</select> 
		</td>
		<td>
			<label for="footage_fps">FPS: </label>
			<select id="footage_fps" name="footage_fps">
				<option {% if not thisentry.footage_fps %}selected="selected"{% endif %} value="">--</option>
				<option {% if thisentry.footage_fps == "18" %}selected="selected"{% endif %} value="18">18</option>
				<option {% if thisentry.footage_fps == "24" %}selected="selected"{% endif %} value="24">24</option>
				<option {% if thisentry.footage_fps == "25" %}selected="selected"{% endif %} value="25">25</option>
				<option {% if thisentry.footage_fps == "30" %}selected="selected"{% endif %} value="30">30</option>
				<option {% if thisentry.footage_fps == "50" %}selected="selected"{% endif %} value="50">50</option>
				<option {% if thisentry.footage_fps == "60" %}selected="selected"{% endif %} value="60">60</option>
			</select>
		</td>
	</tr>
	<tr>
		<td colspan="3"><label for="footage_url">Film URL: </label> {{form.footage_url}}</td>
	</tr>
	<tr>
		<td colspan="3">
			{{form.footage_blackandwhite}} <label for="footage_blackandwhite">Black &amp; White </label>
			{{form.footage_color}} <label for="footage_color">Color </label> 
			{{form.footage_sepia}} <label for="footage_sepia">Sepia </label>
		</td>
	</tr>
</table>

<br>

<table width="100%" cellpadding="5" bgcolor="#88E195">
	<tr>
		<td style="padding-left:10px;">
			<div class="heading16px">Stills:</div>
		</td>
	</tr>
	<tr>
		<td>
			<label for="stills_credit">Photo Credit:</label> {{form.stills_credit}}
		</td>
	</tr>
	<tr>
		<td>
			<label for="stills_url">Photo URL:</label> {{form.stills_url}}
		</td>
	</tr>
	<tr>
		<td>
			{{form.stills_blackandwhite}} <label for="stills_blackandwhite">Black &amp; White </label>
			{{form.stills_color}} <label for="stills_color">Color </label> 
			{{form.stills_sepia}} <label for="stills_sepia">Sepia </label>
		</td>
	</tr>
</table>

<br>

<table width="100%" cellpadding="5" bgcolor="#F3AD72">
	<tr>
		<td colspan="2" style="padding-left:10px;">
			<div class="heading16px">Music:</div>
		</td>
	</tr>
	<tr>
		<td>
			<label for="music_format">Format: </label> 
			<select id="music_format" name="music_format">
				<option value="">--</option>
				<option value="WAV">WAV</option>
				<option value="AIFF">AIFF</option>
				<option value="M4A">M4A</option>
				<option value="MP3">MP3</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>
			<label for="music_credit">Artist Credit:</label> {{form.music_credit}}
		</td>
	</tr>
	<tr>
		<td>
			<label for="music_url">Song URL:</label> {{form.music_url}}
		</td>
	</tr>
</table>

<br>

<table width="100%" cellpadding="5" bgcolor="#B5E1E1">
	<tr>
		<td colspan="3" style="padding-left:10px;">
			<div class="heading16px">Licensing:</div>
		</td>
	</tr>
	<tr>
		<td>
			{{form.license_obtained}} <label for="license_obtained">License</label>
		</td>
		<td colspan="2">
			<label for="license_type">Type:</label> {{form.license_type}}
		</td>
	</tr>
	<tr>
		<td width="33%">
			<label for="source">Source:</label> {{form.source}}
		</td>
		<td width="33%">
			<label for="source_contact">Contact:</label> {{form.source_contact}}
		</td>
		<td width="33%">
    		<label for="source_email">Email: </label> {{form.source_email}}
		</td>
	</tr>
	<tr>
		<td>
			<label for="source_id">Reference ID: </label> {{form.source_id}}
		</td>
		<td>
			<label for="source_phone">Phone:</label>  {{form.source_phone}}
		</td>
		<td>
			<label for="source_fax">Fax: {{form.source_fax}}</label>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<label for="source_address">Address:</label> {{form.source_address}}
		</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td colspan="3">
			<label for="credit_language">Credit Language:</label> {{form.credit_language}}
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<label for="cost">COST:</label> {{form.cost}} 
			<select id="cost_model" name="cost_model">
				<option {% if not thisentry.footage_region %}selected="selected"{% endif %} value="">Cost Model:</option>
				<option {% if thisentry.footage_region == "Cost per use" %}selected="selected"{% endif %} value="Cost per use">Cost Per Use</option>
				<option {% if thisentry.footage_region == "Cost per second" %}selected="selected"{% endif %} value="Cost per second">Cost Per Second</option>
				<option {% if thisentry.footage_region == "Cost per minute" %}selected="selected"{% endif %} value="Cost per minute">Cost Per Minute</option>
			</select>
		</td>
		<td>
			<label for="total_cost">TOTAL:</label> {{form.total_cost}}	
		</td>
	</tr>
</table>

<br>

<div align="center">
	<h2>Notes:</h2>
	<p>{{form.entry_notes}}</p>
</div>

<br>
<br>

<table width="100%" cellpadding="5">
	<tr>
		<td width="33%" style="padding-left:50px;">
			<input type="submit" name="Entry_Cancel" id="Entry_Cancel" value="Cancel" />
		</td>
		<td width="33%">
			&nbsp;
		</td>
		<td width="33%" align="right" style="padding-right:50px;">
			<input type="submit" name="Entry_Save" id="Entry_Save" value="Update Entry" />
		</td>
	</tr>
</table>
</form>
{% else %}
<p>This entry doesn't exist yet.</p>
{% endif %}
{% else %}
<p>This project is private. Please contact the owner for an invitation.</p>
{% endif %}
{% endblock %}