{% extends "base.html" %}
{% load static %}

{% block sidebar %}
	
	<script>
		function process()
		{
		var url="/projects/get/{{project.id}}/assets/get/" + document.getElementById("assetid").value;
		location.href=url;
		return false;
		}
	</script>
	<script>
		$(function(){

			$('#search-assets').keyup(function() {

				$.ajax({
					type: "POST",
					url: "/projects/get/{{project.id}}/assets/search/",
					data: {
						'search_text' : $('#search-assets').val(),
						'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
					},
					success: searchSuccess,
					dataType: 'html'
				});
			});
		});

		function searchSuccess(data, textStatus, jqXHR)
		{
			$('#search-assets-results').html(data);
		}
	</script>

	{% if project %}
		{% if permission %}
			<a href="/projects/get/{{project.id}}/new_asset/">+ Add New Asset</a>
			{% if assets %}
				<p><a href="/projects/get/{{project.id}}/assets/">All Assets</a></p>
				<p>
					{% if lastassetid %}
						<a href="/projects/get/{{project.id}}/assets/get/{{lastassetid}}/"><img src="{% static "assets/img/arrow_left.png" %}" width="40"></a>
						<a href="/projects/get/{{project.id}}/assets/get/1/"><img src="{% static "assets/img/arrow_right.png" %}" width="40"></a>
					{% else %}
						<a href="/projects/get/{{project.id}}/"><img src="{% static "assets/img/arrow_left.png" %}" width="40"></a>
						<a href="/projects/get/{{project.id}}/"><img src="{% static "assets/img/arrow_right.png" %}" width="40"></a>
					{% endif %}
				</p>
				<p><a href="/projects/get/{{project.id}}/sort/">Sort Assets</a></p>
				<p><a href="/projects/get/{{project.id}}/export/">Export Assets</a></p>
				<p>Go To Asset:</p>
				<form onSubmit="return process();">
				# <input type="text" id="entryid" name="entryid" size="5"/> <input type="submit" name="submit" value="Go">
				</form>
				<p>Search Assets:</p>
				{% csrf_token %}
				<input type="text" id="search-assets" name="search-assets" />
				<ul id="search-assets-results">
				</ul>
			{% endif %}
		{% endif %}
	{% else %}
		<a href="/projects/all/">Your Projects</a>
	{% endif %}

{% endblock %}

{% block content %}

	{% if project %}
		{% if permission %}
			<table width="100%" cellpadding="5" bgcolor="#ffffff">
				<tr>
					<td colspan="2">
						<div class="heading20px">Update Project</div>
					</td>
					<td align="right" style="padding-right:50px;">
						<!-- <a href="/projects/get/{{project.id}}/delete/">Delete</a> -->
					</td>
				</tr>
				<form action="/projects/get/{{project.id}}/update/" method="post" enctype="multipart/form-data">{% csrf_token %}
				<tr>
					<td width="20%" rowspan="7" valign="top">
						{% if project.thumbnail %}
							<img src="{% get_static_prefix %}{{project.thumbnail}}" alt="thumbnail" />
						{% else %}
							<img src="{% static "assets/img/thumbnail.jpg" %}">
						{% endif %}
						<br>{{ form.thumbnail }}
					</td>
					<td width="25%" align="right"><label for="name">Project Name:</label></td>
					<td width="55%"> {{ form.name }}</td>
				</tr>
				<tr>
					<td align="right" valign="top"><label for="description">Description:</label></td>
					<td valign="top">{{ form.description }}</td>
				</tr>
				<tr>
					<td valign="top" align="right" style="padding-right:5px;"><label for="format">Format:</label></td>
					<td valign="top" width="400">{{form.format}}</td>
				</tr>
				<tr>
					<td valign="top" align="right" style="padding-right:5px;"><label for="region">Region:</label></td>
					<td valign="top" width="400">
						<select id="region" name="region">
							<option {% if not project.region %}selected="selected"{% endif %} value="">--</option>
							<option {% if project.region == "NTSC" %}selected="selected"{% endif %} value="NTSC">NTSC</option>
							<option {% if project.region == "PAL" %}selected="selected"{% endif %} value="PAL">PAL</option>
						</select>
					</td>
				</tr>
				<tr>
					<td valign="top" align="right" style="padding-right:5px;"><label for="framerate">Framerate:</label></td>
					<td valign="top" width="400">
						<select id="framerate" name="framerate">
							<option value="">--</option>
							<option {% if not project.framerate %}selected="selected"{% endif %} value="">--</option>
							<option {% if project.framerate == "18" %}selected="selected"{% endif %} value="18">18</option>
							<option {% if project.framerate == "24" %}selected="selected"{% endif %} value="24">24</option>
							<option {% if project.framerate == "25" %}selected="selected"{% endif %} value="25">25</option>
							<option {% if project.framerate == "30" %}selected="selected"{% endif %} value="30">30</option>
							<option {% if project.framerate == "50" %}selected="selected"{% endif %} value="50">50</option>
							<option {% if project.framerate == "60" %}selected="selected"{% endif %} value="60">60</option>
						</select>
					</td>
				</tr>
				<tr>
					<td valign="top" align="right" style="padding-right:5px;"><label for="filmtype">Film Type:</label></td>
					<td valign="top" width="400">
						<select id="filmtype" name="filmtype">
							<option {% if not project.filmtype %}selected="selected"{% endif %} value="">--</option>
							<option {% if project.filmtype == "SD" %}selected="selected"{% endif %} value="SD">SD</option>
							<option {% if project.filmtype == "HD" %}selected="selected"{% endif %} value="HD">HD</option>
						</select> 
					</td>
				</tr>
				<tr>
					<td valign="top" align="right" style="padding-right:5px;"><label for="length">Length:</label></td>
					<td valign="top" width="400">{{ form.length }}</td>
				</tr>
				<tr>
					<td colspan="2" style="padding-left: 50px;"><a href="/projects/get/{{project.id}}">Cancel</a></td>
					<td align="right" style="padding-right:50px;">
						<input type="submit" name="submit" value="Update Project">
					</td>
				</tr>
				</form>
			</table>
		{% else %}
			<table width="100%" cellpadding="5" bgcolor="#ffffff">
				<tr><td>You do not have access to this project.</td></tr>
			</table>
		{% endif %}
	{% else %}
		<table width="100%" cellpadding="5" bgcolor="#ffffff">
			<tr><td>You do not have access to this project.</td></tr>
		</table>
	{% endif %}

{% endblock %}