{% extends "base.html" %}
{% load static %}

{% block headscript %}
	<script src="{% static "assets/js/timecode.js" %}"></script>
{% endblock %}

{% block sidebar %}

	<script>
		function process()
		{
		var url="/projects/get/{{project.id}}/assets/get/" + document.getElementById("assetid").value;
		location.href=url;
		return false;
		}
	</script>
	<script>
		$(function(){

			$('#search-assets').keyup(function() {

				$.ajax({
					type: "POST",
					url: "/projects/get/{{project.id}}/assets/search/",
					data: {
						'search_text' : $('#search-assets').val(),
						'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
					},
					success: searchSuccess,
					dataType: 'html'
				});
			});
		});

		function searchSuccess(data, textStatus, jqXHR)
		{
			$('#search-assets-results').html(data);
		}
	</script>


	{% if permission %}
		<a href="/projects/get/{{project.id}}/new_asset/">+ Add New Asset</a>
		<p><a href="/projects/get/{{project.id}}/assets/">All Assets</a></p>
		<p>
			<a href="/projects/get/{{project.id}}/assets/get/{{asset.unique_id}}/"><img src="{% static "assets/img/arrow_left.png" %}" width="40"></a>
			{% if next_asset %}
				<a href="/projects/get/{{project.id}}/assets/get/{{asset.unique_id|add:"1"}}/">
					<img src="{% static "assets/img/arrow_right.png" %}" width="40">
				</a>
			{% else %}
				<a href="/projects/get/{{project.id}}/"><img src="{% static "assets/img/arrow_right.png" %}" width="40"></a>
			{% endif %}
		</p>
		<p><a href="/projects/get/{{project.id}}/sort/">Sort Assets</a></p>
		<p><a href="/projects/get/{{project.id}}/export/">Export Assets</a></p>
		<p>Go To Asset:</p>
		<form onSubmit="return process();">
		# <input type="text" id="assetid" name="assetid" size="5"/> <input type="submit" name="submit" value="Go">
		</form>
		<p>Search Assets:</p>
		{% csrf_token %}
		<input type="text" id="search-assets" name="search-assets" />
		<ul id="search-assets-results">
		</ul>
	{% else %}
		<a href="/projects/all/">Your Projects</a>
	{% endif %}

{% endblock %}

{% block content %}

	{% if permission %}
		{% if asset %}
			<form action="/projects/get/{{project.id}}/assets/get/{{asset.unique_id}}/timecodes/{{timecode.tc_unique}}/edit/" method="post">
				{% csrf_token %}
				<table width="100%" cellpadding="5" bgcolor="#ffffff">
					<tr>
						<td colspan="2">
							<div class="heading16px">Update Timecode:</div>
						</td>
						<td colspan="2" align="right" style="padding-right: 50px;">
							<a href="/projects/get/{{project.id}}/assets/get/{{asset.unique_id}}/timecodes/{{timecode.tc_unique}}/delete/">
								Delete
							</a>
						</td>
					</tr>
					<tr>
						<td>Description:</td>
						<td colspan="3"><input type="text" name="description" id="description" size="50" value="{{timecode.description}}" /></td>
					</tr>
					<tr>
						<td>Project Timecode</td>
						<td>
							In: <input type="text" name="film_tc_in" id="film_tc_in" value="{{timecode.film_tc_in}}" size="10" placeholder="HH:MM:SS" />
						</td>
						<td>
							Out: <input type="text" name="film_tc_out" id="film_tc_out" value="{{timecode.film_tc_out}}" onchange="film_tc_Duration();" size="10" placeholder="HH:MM:SS" />
						</td>
						<td>
							Duration: <input type="text" name="film_tc_duration" id="film_tc_duration" value="{{timecode.film_tc_duration}}" size="10" readonly />
						</td>
					</tr>
					<tr>
						<td>Source Timecode</td>
						<td>In: <input type="text" name="src_tc_in" id="src_tc_in" value="{{timecode.src_tc_in}}" size="10" placeholder="HH:MM:SS" /></td>
						<td>
							Out: <input type="text" name="src_tc_out" id="src_tc_out" value="{{timecode.src_tc_out}}" onchange="src_tc_Duration();" size="10" placeholder="HH:MM:SS" />
						</td>
						<td>
							Duration: <input type="text" name="src_tc_duration" id="src_tc_duration" value="{{timecode.src_tc_duration}}" size="10" readonly />
						</td>
					</tr>
					<tr>
						<td>Source Windowdub</td>
						<td>In: <input type="text" name="src_wd_in" id="src_wd_in" value="{{timecode.src_wd_in}}" size="10" placeholder="HH:MM:SS" /></td>
						<td>
							Out: <input type="text" name="src_wd_out" id="src_wd_out" value="{{timecode.src_wd_out}}" onchange="src_wd_Duration();" size="10" placeholder="HH:MM:SS" />
						</td>
						<td>
							Duration: <input type="text" name="src_wd_duration" id="src_wd_duration" value="{{timecode.src_wd_duration}}" size="10" readonly />
						</td>
					</tr>
					<tr>
						<td colspan="2" style="padding-left:50px;">
							<a href="/projects/get/{{project.id}}/assets/get/{{asset.unique_id}}/">Cancel</a>
						</td>
						<td colspan="2" align="right" style="padding-right:50px;">
							<input type="submit" name="Update Timecodes" id="Update_Timecode" value="Update Timecode" />
						</td>
					</tr>
				</table>
			</form>
		{% else %}
			<table width="100%" cellpadding="5" bgcolor="#ffffff">
				<tr><td>You do not have access to this project.</td></tr>
			</table>
		{% endif %}
	{% else %}
		<table width="100%" cellpadding="5" bgcolor="#ffffff">
			<tr><td>You do not have access to this project.</td></tr>
		</table>
	{% endif %}

{% endblock %}
