{% if searchposts.count > 0 %}

{% for post in searchposts %}
	<li><a href="/lobby/posts/get/{{post.id}}/">{{post.body|truncatechars:50}}</a></li>
{% endfor %}

{% else %}

<li>None to show!</li>

{% endif %}