{% extends "base.html" %}
{% load static %}
{% load dashspace %}

{% block sidebar %}

	<script>
		$(function(){

		  $('#search-posts').keyup(function() {

		    $.ajax({
		      type: "POST",
		      url: "/lobby/posts/search/",
		      data: {
		        'search_text' : $('#search-posts').val(),
		        'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
		      },
		      success: searchSuccess,
		      dataType: 'html'
		    });
		  });
		});

		function searchSuccess(data, textStatus, jqXHR)
		{
		  $('#search-posts-results').html(data);
		}
	</script>

	<a href="/lobby/new_post/">+ New Post</a>
	<p><a href="/lobby/">All Posts</a></p>
	<p><a href="/accounts/profile/{{thisuser.id}}/following/">Following: {{following.user_object.following.count}}<a/></p>
	<p><a href="/accounts/profile/{{thisuser.id}}/followers/">Followers: {{followers}}<a/></p>
	<p>Search Posts:</p>
	{% csrf_token %}
	<input type="text" id="search-posts" name="search-posts" />
	<ul id="search-posts-results">
	</ul>

{% endblock %}

{% block content %}

	{% if comment.created_by = thisuser %}

		<table width="100%" cellpadding="5" bgcolor="#ffffff">
		  <tr>
		    <td rowspan="4" valign="top">
				{% if post.created_by.user_object.avatar %}
					<a href="/accounts/profile/{{post.created_by.id}}/">
						<img src="{% get_static_prefix %}{{post.created_by.user_object.avatar}}" alt="thumbnail" width="50"/>
					</a>
				{% endif %}
			</td>
		    <td>
		      <strong>
		      	<a href="/accounts/profile/{{post.created_by.id}}/">{{post.created_by}}:</a> <a href="/lobby/posts/get/{{post.id}}/" >{{post.title}}</a>
		      </strong>
		    </td>
		    <td align="right">
		      <a href="/lobby/posts/category/{{post.category|lower}}/">Category: {{post.category}}</a>
		    </td>
		  </tr>
		  <tr>
		    <td width="75%" style="padding-left:10px;">{{post.body}}</td>
		    <td width="25%" align="right" style="padding-right:50px;">
		      {% if post.created_by == thisuser %}
		      	<a href="/lobby/posts/get/{{post.id}}/edit/">Edit</a>
		      {% endif %}
		    </td>
		  </tr>
		  <tr>
		    <td colspan="2" style="padding-left:25px;">
		      {{post.last_updated}} <strong><a href="/lobby/posts/get/{{post.id}}/like/?next={{next}}">{{post.likes.count}} likes</a></strong>
		    </td>
		  </tr>
		  <tr>
		    <td style="padding-left:25px;" colspan="2">
		        Tagged: 
		            {% for tag in post.split_tags %}
		            	{% if forloop.last %}
		            		<a href="/lobby/posts/tag/{{tag|lower|cut:" "}}/">{{tag|dashspace}}</a>
		            	{% else %}
		            		<a href="/lobby/posts/tag/{{tag|lower|cut:" "}}/">{{tag|dashspace}}</a>, 
		            	{% endif %}
		            {% endfor %}
		    </td>
		  </tr>
		  <form action="/lobby/posts/get/{{post.id}}/comments/{{comment.id_unique}}/edit/" method="post">{% csrf_token %}
			  <tr>
			    <td style="padding-left:25px;" valign="top" colspan="2">Edit Comment: {{form.comment_text}}</td>
			    <td align="right" style="padding-right:50px;" valign="bottom">
			    	<input type="submit" name="Edit_Comment" id="Edit_Comment" value="Edit Comment" />
			    </td>
			  </tr>
		  </form>
		</table>

	{% endif %}

{% endblock %}