{% extends "base.html" %}
{% load static %}

{% block sidebar %}

	<script>
		$(function(){

		  $('#search-posts').keyup(function() {

		    $.ajax({
		      type: "POST",
		      url: "/lobby/posts/search/",
		      data: {
		        'search_text' : $('#search-posts').val(),
		        'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
		      },
		      success: searchSuccess,
		      dataType: 'html'
		    });
		  });
		});

		function searchSuccess(data, textStatus, jqXHR)
		{
		  $('#search-posts-results').html(data);
		}
	</script>

	<a href="/lobby/new_post/">+ New Post</a>
	<p><a href="/lobby/">All Posts</a></p>
	<p><a href="/accounts/profile/{{thisuser.id}}/following/">Following: {{following.user_object.following.count}}<a/></p>
	<p><a href="/accounts/profile/{{thisuser.id}}/followers/">Followers: {{followerscount}}<a/></p>
	<p>Search Posts:</p>
	{% csrf_token %}
	<input type="text" id="search-posts" name="search-posts" />
	<ul id="search-posts-results">
	</ul>

{% endblock %}

{% block content %}

	<table width="100%" bgcolor="#ffffff">
		<tr>
			<td>
				Followers:
				<ul>
					{% for f,following in followers %}
						<li>
		            		<a href="/accounts/profile/{{f.user.id}}/">{{f.user.username}}</a> 
		            		{% if following %}
		            			<a href="/accounts/profile/{{f.user.id}}/unfollow/?next={{next}}">(Remove)</a>
		            		{% else %}
		            			<a href="/accounts/profile/{{f.user.id}}/follow/?next={{next}}">(Follow)</a>
		            		{% endif %}
	        			</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
	</table>

{% endblock %}
