{% extends "base.html" %}
{% load static %}
{% load dashspace %}

{% block header %}
	{% if loggedin %}
		<ul id="nav">
		    <li>
		      <a href="#">Hello, {{thisuser.username}}</a>
			      <ul>
			        <li>
			          <a href="/projects/all/">Your Projects</a>
			        </li>
			        {% if project %}
			        <li>
			          <a href="/projects/get/{{project.id}}/">Current Project</a>
			        </li>
		        {% endif %}
		        <li>
		          <a href="/projects/new_project/">New Project</a>
		        </li>
		        <li>
		          <a href="/lobby/">Lobby</a>
		        </li>
		        <li>
		          <a href="/accounts/profile/">Your Profile</a>
		        </li>
		        <li>
		          <a href="/accounts/logout/">Logout</a>
		        </li>
		      </ul>
		    </li>
		  </ul>
	{% else %}
		<div id="registerlogin">
			<a href="/lobby/">Lobby</a> | <a href="/accounts/register/">Register</a> | <a href="/accounts/login/">Login</a>
		</div>
	{% endif %}
{% endblock %}

{% block sidebar %}
	{% if loggedin %}
		<script>
			$(function(){

			  $('#search-posts').keyup(function() {

			    $.ajax({
			      type: "POST",
			      url: "/lobby/posts/search/",
			      data: {
			        'search_text' : $('#search-posts').val(),
			        'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
			      },
			      success: searchSuccess,
			      dataType: 'html'
			    });
			  });
			});

			function searchSuccess(data, textStatus, jqXHR)
			{
			  $('#search-posts-results').html(data);
			}
		</script>

		<a href="/lobby/new_post/">+ New Post</a>
		<p><a href="/lobby/">All Posts</a></p>
		<p><a href="/accounts/profile/{{thisuser.id}}/following/">Following: {{following.user_object.following.count}}<a/></p>
		<p><a href="/accounts/profile/{{thisuser.id}}/followers/">Followers: {{followers}}<a/></p>
		<p>Search Posts:</p>
		{% csrf_token %}
		<input type="text" id="search-posts" name="search-posts" />
		<ul id="search-posts-results"></ul>
	{% else %}
		<a href="/accounts/register/">Register</a>
		<p><a href="/accounts/login/">Log In</a></p>
		<p><a href="/lobby/">Lobby</a></p>
	{% endif %}

{% endblock %}

{% block content %}

	{% if posts.count > 0 %}

		{% for post in posts %}
			<table width="100%" cellpadding="5" bgcolor="#ffffff">
			  <tr>
			    <td rowspan="4" valign="top">
			      {% if post.created_by.user_object.avatar %}
			        <a href="/accounts/profile/{{post.created_by.id}}/">
			        	<img src="{% get_static_prefix %}{{post.created_by.user_object.avatar}}" alt="thumbnail" width="50"/>
			        </a>
			      {% endif %}
			    </td>
			    <td>
			      <strong><a href="/accounts/profile/{{post.created_by.id}}/">{{post.created_by}}:</a> <a href="/lobby/posts/get/{{post.id}}/" >{{post.title}}</a></strong>
			    </td>
			    <td align="right">
			      <a href="/lobby/posts/category/{{post.category|lower}}/">Category: {{post.category}}</a>
			    </td>
			  </tr>
			  <tr>
			    <td width="75%" style="padding-left:10px;">{{post.body}}</td>
			    <td width="25%" style="padding-right:50px;" align="right" valign="top">
			      {% if post.created_by == thisuser %}<a href="/lobby/posts/get/{{post.id}}/edit/">Edit</a>{% endif %}
			    </td>
			  </tr>
			  <tr>
			    <td colspan="2" style="padding-left:25px;">
			      {% if loggedin %}
			      	{{post.last_updated}} <strong><a href="/lobby/posts/get/{{post.id}}/like/?next={{next}}">{{post.likes.count}} likes</a></strong>
			      {% else %}
			      	{{post.last_updated}} <strong>{{post.likes.count}} likes</strong>
			      {% endif %}
			    </td>
			  </tr>
			  <tr>
			    <td style="padding-left:25px;" colspan="2">
			        Tagged: 
			            {% for tag in post.split_tags %}
			            	{% if forloop.last %}
			            		<a href="/lobby/posts/tag/{{tag|lower}}/">{{tag|dashspace}}</a>
			            	{% else %}
			            		<a href="/lobby/posts/tag/{{tag|lower}}/">{{tag|dashspace}}</a>, 
			            	{% endif %}
			            {% endfor %}
			    </td>
			  </tr>
			  {% for comment in post.post_replied_to.all %}
			  <tr>
			    <td>&nbsp;</td>
			    <td valign="top">
			      <div width="100%">
			        {% if comment.created_by.user_object.avatar %}
			          <a href="/accounts/profile/{{comment.created_by.id}}/">
			          	<img src="{% get_static_prefix %}{{comment.created_by.user_object.avatar}}" alt="thumbnail" width="50"/>
			          </a>
			        {% endif %}
			        <strong><a href="/accounts/profile/{{comment.created_by.id}}/">{{comment.created_by}}:</a></strong> {{comment.comment_text}}
			      </div>
			      <p>
				      <div style="padding-left:56px;">
				      	{% if loggedin %}
				        {{comment.last_updated}} 
				          <strong>
				            <a href="/lobby/posts/get/{{post.id}}/comments/{{comment.id_unique}}/like/?next={{next}}">
				            	{{comment.likes.count}} likes</a>
				          </strong>
				        {% else %}
				        {{comment.last_updated}} 
				          <strong>
				            {{comment.likes.count}} likes
				          </strong>
				        {% endif %}
				      </div>
			  	  </p>
			    </td>
			    <td align="right" style="padding-right:50px;" valign="top">
			      {% if comment.created_by == thisuser %}
			      <a href="/lobby/posts/get/{{post.id}}/comments/{{comment.id_unique}}/edit/">Edit</a>
			      {% endif %}
			    </td>
			  </tr>
			  {% endfor %}
			  {% if loggedin %}
				  <form action="/lobby/posts/get/{{post.id}}/new_comment/" method="post">{% csrf_token %}
				  <tr>
				    <td colspan="2" style="padding-left:64px;"><input type="text" name="comment_text" id="comment_text" placeholder="Comment" size="40"/></td>
				    <td><input type="submit" name="New_Comment" id="New_Comment" value="New Comment" /></td>
				  </tr>
				  </form>
			  {% endif %}
			</table>
			<br />
		{% endfor %}

		<div class="pagination" align="right">
			<span class="step-links">
				{% if posts.has_previous %}
					<a href="?page={{ posts.previous_page_number }}">previous</a>
				{% endif %}

				<span class="current">
					Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
				</span>

				{% if posts.has_next %}
					<a href="?page={{ posts.next_page_number }}">next</a>
				{% endif %}
			</span>
		</div>

	{% else %}

		No posts yet!

	{% endif %}

{% endblock %}