{% extends "base.html" %}
{% load static %}

{% block sidebar %}

	<script>
		$(function(){

		  $('#search-posts').keyup(function() {

		    $.ajax({
		      type: "POST",
		      url: "/lobby/posts/search/",
		      data: {
		        'search_text' : $('#search-posts').val(),
		        'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
		      },
		      success: searchSuccess,
		      dataType: 'html'
		    });
		  });
		});

		function searchSuccess(data, textStatus, jqXHR)
		{
		  $('#search-posts-results').html(data);
		}
	</script>

	<a href="/lobby/new_post/">+ New Post</a>
	<p><a href="/lobby/">All Posts</a></p>
	<p><a href="/accounts/profile/{{thisuser.id}}/following/">Following: {{following.count}}<a/></p>
	<p><a href="/accounts/profile/{{thisuser.id}}/followers/">Followers: {{followers.count}}<a/></p>
	<p>Search Posts:</p>
	{% csrf_token %}
	<input type="text" id="search-posts" name="search-posts" />
	<ul id="search-posts-results">
	</ul>

{% endblock %}

{% block content %}

	<form action="/lobby/new_post/" method="post">{% csrf_token %}
		<table width="100%" cellpadding="5" bgcolor="#ffffff">
		  <tr>
		    <td width="20%">Title:</td>
		    <td>{{form.title}}</td>
		  </tr>
		  <tr>
		    <td>Post:</td>
		    <td>{{form.body}}</td>
		  </tr>
		  <tr>
		    <td>Post Under:</td>
		    <td>
		      <select name="category" id="category">
		        <option value="Chat">Chat</option>
		        <option value="Now Hiring">Now Hiring</option>
		        <option value="For Hire">For Hire</option>
		        <option value="Questions">Questions</option>
		      </select>
		    </td>
		  </tr>
		  <tr>
		    <td>Tags:<br />(Comma Separated)</td>
		    <td valign="top">{{form.tags}}</td>
		  </tr>
		  <tr>
		    <td colspan="2" align="right" style="padding-right:50px;"><input type="submit" name="New_Post" id="New_Post" value="New Post" />
		  </tr>
		</table>
	</form>

{% endblock %}