{% extends "base.html" %}
{% load static %}

{% block sidebar %}

	<script>
		$(function(){

		  $('#search-posts').keyup(function() {

		    $.ajax({
		      type: "POST",
		      url: "/lobby/posts/search/",
		      data: {
		        'search_text' : $('#search-posts').val(),
		        'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
		      },
		      success: searchSuccess,
		      dataType: 'html'
		    });
		  });
		});

		function searchSuccess(data, textStatus, jqXHR)
		{
		  $('#search-posts-results').html(data);
		}
	</script>

	<a href="/lobby/new_post/">+ New Post</a>
	<p><a href="/lobby/">All Posts</a></p>
	<p><a href="/accounts/profile/{{thisuser.id}}/following/">Following: {{following.user_object.following.count}}<a/></p>
	<p><a href="/accounts/profile/{{thisuser.id}}/followers/">Followers: {{followers}}<a/></p>
	<p>Search Posts:</p>
	{% csrf_token %}
	<input type="text" id="search-posts" name="search-posts" />
	<ul id="search-posts-results">
	</ul>

{% endblock %}

{% block content %}

	<table width="100%" cellpadding="5" bgcolor="#ffffff">
	  <tr>
	    <td colspan="2"><div class="heading16px">{{post.title}}</div></td>
	  </tr>
	  <tr>
	    <td colspan="2">{{post.title}}</td>
	  </tr>
	  <tr>
	    <td width="50%"><a href="/lobby/posts/category/{{post.category|lower}}/">Category: {{post.category}}</a></td>
	    <td>{{post.likes.count}} likes</td>
	  </tr>
	  <tr>
	    <td colspan="2">Tagged: 
	            {% for tag in post.split_tags %}
	            	{% if forloop.last %}
	            		<a href="/lobby/posts/tag/{{tag|lower|cut:" "}}/">{{tag}}</a>
	            	{% else %}
	            		<a href="/lobby/posts/tag/{{tag|lower|cut:" "}}/">{{tag}}</a>, 
	            	{% endif %}
	            {% endfor %}</td>
	  </tr>
	  <tr>
	    <td>Posted by {{post.created_by}}</td>
	    <td>At {{post.pubdate}}</td>
	  </tr>
	  <form action="/lobby/posts/get/{{post.id}}/new_comment/" method="post">{% csrf_token %}
	  <tr>
	    <td colspan="2">Comment: {{form.comment_text}}</td>
	  </tr>
	  <tr>
	    <td colspan="2" align="right" style="padding-right:50px;"><input type="submit" name="New_Comment" id="New_Comment" value="New Comment" /></td>
	  </tr>
	  </form>
	</table>

{% endblock %}